{% extends "home/object_list_page.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{{ block.super }} template-lab-list{% endblock %}

{% block container_class %}labs-list-container{% endblock %}

{% block list_page_list %}

<div class="row labs-section">
    {% for lab in labs %}
    <div class="col-md-4 col-xxl-3">
        <a href="{{ lab.get_url }}" class="lab">
            {% if lab.thumbnail_animation %}
                {% image lab.thumbnail original as lab_thumbnail %}
                <video class="img-fluid" muted playsinline preload="auto" src="{{ lab.thumbnail_animation.url }}" poster="{{ lab_thumbnail.url }}"></video>
            {% endif %}
            {% image lab.thumbnail original class="img-fluid" alt="..." %}
            <h6>{{ lab.title }}</h6>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock list_page_list %}
