{% extends "home/object_profile_page.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{{ block.super }} template-lab{% endblock %}

{% block container_class %}lab-profile-container{% endblock %}

{% block hero_image %}
{% image page.image original as hero_image %}
<section style="background-image: url({{ hero_image.url }})" class="container-fluid image-embed px-4 px-md-0"></section>
{% endblock hero_image %}

{% block profile_page_desc %}
<div class="col-md-6 col-xl-8 intro-text">
    <p>{{ page.description }}</p>
</div>
{% endblock profile_page_desc %}

{% block profile_page_contact_information %}
<div class="col-md-6 col-xl-4 lab-contact-information">
    <p>
        Vodja laba:<br />
        {{ page.lab_lead }}
    </p>
    <p>
        <a href="mailto:{{ page.email }}" target="_blank">e-pošta</a>
        <button type="button" class="copy-email-button" data-email="{{ page.email }}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 21" width="19" height="23">
                <path stroke="currentColor" stroke-width="1.15" d="M12.94 8.84h-5c-.6 0-1.1.5-1.1 1.1v5c0 .6.5 1.1 1.1 1.1h5c.6 0 1.1-.5 1.1-1.1v-5c0-.6-.5-1.1-1.1-1.1Z"/>
                <path stroke="currentColor" stroke-width="1.15" d="M4.62 12.16h-.56a1.1 1.1 0 0 1-1.1-1.1v-5a1.1 1.1 0 0 1 1.1-1.1h5a1.1 1.1 0 0 1 1.1 1.1v.56"/>
            </svg>
        </button>
        <span class="copy-email-confirmation small d-none">kopirano!</span>
    </p>
    <p>
        <a href="">termini usposabljanj</a>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 21" width="17" height="21">
            <path fill="#1C1463" d="M8.76 15.43c.16 0 .31-.06.42-.18l3.87-3.84c.28-.29.28-.59 0-.86L9.18 6.68a.6.6 0 0 0-.42-.17.6.6 0 0 0-.6.6c0 .16.07.31.18.42l2.83 2.84h-6.8a.6.6 0 0 0-.6.6c0 .33.28.6.6.6h6.8l-2.83 2.84a.6.6 0 0 0-.18.42c0 .33.27.6.6.6Z"/>
        </svg>
    </p>
    <p>
        <a href="">spletna usposabljanja</a>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 21" width="17" height="21">
            <path fill="#1C1463" d="M8.76 15.43c.16 0 .31-.06.42-.18l3.87-3.84c.28-.29.28-.59 0-.86L9.18 6.68a.6.6 0 0 0-.42-.17.6.6 0 0 0-.6.6c0 .16.07.31.18.42l2.83 2.84h-6.8a.6.6 0 0 0-.6.6c0 .33.28.6.6.6h6.8l-2.83 2.84a.6.6 0 0 0-.18.42c0 .33.27.6.6.6Z"/>
        </svg>
    </p>
</div>
{% endblock profile_page_contact_information %}

{% block profile_page_content %}
<div class="container mb-5">
    <div class="row">
        {% for tool in page.related_tools.all %}
        <div class="col-12 col-md-4 col-xxl-3">
            <div class="card tool-card color-scheme-white">
                <h4 class="card-title text-center">{{ tool.name }}</h4>
                {% image tool.image original class="img-fluid" alt="..." %}
                {% if tool.related_tool_specifications.all %}
                <div class="specifications">
                    {% for spec in tool.related_tool_specifications.all %}
                    <p>
                        <span>{{ spec.name }}</span><br/>
                        <span>{{ spec.value }}</span>
                    </p>
                    {% endfor %}
                </div>
                {% endif %}
                {% if tool.more_information_link %}
                <div class="more-information">
                    <p>
                        <a class="link" href="{{ tool.more_information_link }}">
                            <span class="link-text">več informacij</span>
                            <span class="link-icon"></span>
                        </a>
                    </p>
                </div>
                {% endif %}
                {% if user.is_authenticated %}
                    {% if tool.required_workshop %}
                        {% if tool.required_workshop in user.workshops_attended.all %}
                        <div class="text-center">
                            <a href="/profil?{% if tool.prima_location_id %}location={{tool.prima_location_id}}{% elif tool.prima_group_id %}group={{tool.prima_group_id}}{% endif %}" class="primary-button button-medium">rezerviraj</a>
                        </div>
                        <p>Usposabljanje je opravljeno!</p>
                        {% else %}
                        <div class="text-center">
                            <a class="primary-button button-medium disabled">rezerviraj</a>
                        </div>
                        <p>Za rezervacijo potrebuješ usposabljanje.</p>
                        {% if tool.workshop_event %}
                        <p class="more-information">
                            <a class="link" href="{% pageurl tool.workshop_event %}">
                                <span class="link-text">Prijava na usposabljanje</span>
                                <span class="link-icon"></span>
                            </a>
                        </p>
                        {% endif %}
                        {% endif %}
                    {% else %}
                    <div class="text-center">
                        <a href="/profil?{% if tool.prima_location_id %}location={{tool.prima_location_id}}{% elif tool.prima_group_id %}group={{tool.prima_group_id}}{% endif %}" class="primary-button button-medium">rezerviraj</a>
                    </div>
                    {% endif %}
                {% else %}
                <div class="text-center">
                    <a class="primary-button button-medium disabled">rezerviraj</a>
                </div>
                <p class="bulletin-board-link">
                    Za rezervacijo orodja se je potrebno <a href="/prijava"><span>prijaviti</span></a>
                </p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if page.gallery %}
<div class="container-fluid">
    <div class="row mb-5 mt-3">
        <div class="col-12">
            <div class="glide">
                <div class="glide__arrows" data-glide-el="controls">
                  <button class="glide__arrow glide__arrow--left" data-glide-dir="<">‹</button>
                  <button class="glide__arrow glide__arrow--right" data-glide-dir=">">›</button>
                </div>
                <div class="glide__track" data-glide-el="track">
                  <ul class="glide__slides">
                    {% for element in page.gallery %}
                    <li class="glide__slide">
                        {% image element.value.image original class="img-fluid" %}
                        <p>{{ element.value.image_description }}</p>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock profile_page_content %}
