{% extends "home/object_profile_page.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{{ block.super }} template-lab{% endblock %}

{% block container_class %}lab-profile-container{% endblock %}

{% block hero_image %}
{% image page.image original as hero_image %}
<section style="background-image: url({{ hero_image.url }})" class="container-fluid image-embed px-4 px-md-0"></section>
{% endblock hero_image %}

{% block profile_page_desc %}
<div class="col-md-6 col-xl-8 intro-text">
    <p>{{ page.description }}</p>
</div>
{% endblock profile_page_desc %}

{% block profile_page_contact_information %}
<div class="col-md-6 col-xl-4 lab-contact-information">
    {% if page.lab_lead %}
    <p>
        {% translate 'Vodja laba' %}:<br />
        {{ page.lab_lead }}
    </p>
    {% endif %}
    {% if page.lab_lead_email %}
    <p>
        <a href="mailto:{{ page.lab_lead_email }}" target="_blank">{% translate 'e-pošta' %}</a>
        <button type="button" class="copy-email-button" data-email="{{ page.email }}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 21" width="19" height="23">
                <path stroke="currentColor" stroke-width="1.15" d="M12.94 8.84h-5c-.6 0-1.1.5-1.1 1.1v5c0 .6.5 1.1 1.1 1.1h5c.6 0 1.1-.5 1.1-1.1v-5c0-.6-.5-1.1-1.1-1.1Z"/>
                <path stroke="currentColor" stroke-width="1.15" d="M4.62 12.16h-.56a1.1 1.1 0 0 1-1.1-1.1v-5a1.1 1.1 0 0 1 1.1-1.1h5a1.1 1.1 0 0 1 1.1 1.1v.56"/>
            </svg>
        </button>
        <span class="copy-email-confirmation small d-none">{% translate 'kopirano!' %}</span>
    </p>
    {% endif %}
    {% if page.training_dates_link %}
    <p>
        <a href="{{ page.training_dates_link }}">{% translate 'termini usposabljanj' %}</a>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 21" width="17" height="21">
            <path fill="#1C1463" d="M8.76 15.43c.16 0 .31-.06.42-.18l3.87-3.84c.28-.29.28-.59 0-.86L9.18 6.68a.6.6 0 0 0-.42-.17.6.6 0 0 0-.6.6c0 .16.07.31.18.42l2.83 2.84h-6.8a.6.6 0 0 0-.6.6c0 .33.28.6.6.6h6.8l-2.83 2.84a.6.6 0 0 0-.18.42c0 .33.27.6.6.6Z"/>
        </svg>
    </p>
    {% endif %}
    {% if page.online_trainings_link %}
    <p>
        <a href="{{ page.online_trainings_link }}">{% translate 'spletna usposabljanja' %}</a>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 21" width="17" height="21">
            <path fill="#1C1463" d="M8.76 15.43c.16 0 .31-.06.42-.18l3.87-3.84c.28-.29.28-.59 0-.86L9.18 6.68a.6.6 0 0 0-.42-.17.6.6 0 0 0-.6.6c0 .16.07.31.18.42l2.83 2.84h-6.8a.6.6 0 0 0-.6.6c0 .33.28.6.6.6h6.8l-2.83 2.84a.6.6 0 0 0-.18.42c0 .33.27.6.6.6Z"/>
        </svg>
    </p>
    {% endif %}
    {% if page.button and page.button_text %}
    <p>
        {% for link in page.button %}
        <a href="{% if link.type == 'external' %}{{ link }}{% else %}{{ link.url }}{% endif %}" target="_blank" class="secondary-button button-small">{{ page.button_text }}</a>
        {% endfor %}
    </p>
    {% endif %}
</div>
{% endblock profile_page_contact_information %}

{% block profile_page_content %}
<div class="container mb-5">
    <div class="row">
        {% for tool in page.related_tools.all %}
        <div class="col-12 col-md-4 col-xxl-3">
            <div class="card tool-card color-scheme-white">
                <h4 class="card-title text-center">{{ tool.name }}</h4>
                <div class="text-center">
                    {% image tool.image original class="img-fluid" alt="..." %}
                </div>
                {% if tool.related_tool_specifications.all %}
                <div class="specifications">
                    {% for spec in tool.related_tool_specifications.all %}
                    <p>
                        <span>{{ spec.name }}</span><br/>
                        <span>{{ spec.value }}</span>
                    </p>
                    {% endfor %}
                </div>
                {% endif %}
                {% if tool.more_information_link %}
                <div class="more-information">
                    <p>
                        <a class="link" href="{{ tool.more_information_link }}">
                            <span class="link-text">{% translate 'več informacij' %}</span>
                            <span class="link-icon"></span>
                        </a>
                    </p>
                </div>
                {% endif %}
                {% if tool.prima_location_id or tool.prima_group_id %}
                    {% if user.is_authenticated %}
                        {% if tool.required_workshop %}
                            {% if tool.required_workshop in user.workshops_attended.all %}
                            <div class="text-center">
                                <a href="/profil?{% if tool.prima_location_id %}location={{tool.prima_location_id}}{% elif tool.prima_group_id %}group={{tool.prima_group_id}}{% endif %}" class="secondary-button button-medium">{% translate 'rezerviraj' %}</a>
                            </div>
                            <p>{% translate 'Usposabljanje je opravljeno!' %}</p>
                            {% else %}
                            <div class="text-center">
                                <a class="secondary-button button-medium disabled">{% translate 'rezerviraj' %}</a>
                            </div>
                            <p>{% translate 'Za rezervacijo potrebuješ usposabljanje.' %}</p>
                            {% if tool.workshop_event %}
                            <p class="more-information">
                                <a class="link" href="{% pageurl tool.workshop_event %}">
                                    <span class="link-text">{% translate 'Prijava na usposabljanje' %}</span>
                                    <span class="link-icon"></span>
                                </a>
                            </p>
                            {% endif %}
                            {% endif %}
                        {% else %}
                        <div class="text-center">
                            <a href="/profil?{% if tool.prima_location_id %}location={{tool.prima_location_id}}{% elif tool.prima_group_id %}group={{tool.prima_group_id}}{% endif %}" class="secondary-button button-medium">{% translate 'rezerviraj' %}</a>
                        </div>
                        {% endif %}
                    {% else %}
                    <div class="text-center">
                        <a class="secondary-button button-medium disabled">{% translate 'rezerviraj' %}</a>
                    </div>
                    <p>
                        {% translate 'Za rezervacijo orodja se je potrebno' %}
                        <a class="link" href="{% url 'login' %}">
                            <span class="link-text">{% translate 'prijaviti' %}</span>
                            <span class="link-icon"></span>
                        </a>
                    </p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if page.gallery %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="custom-gallery">
                <div class="custom-gallery-content">
                    <button type="button" class="custom-gallery-navigation prev" tabindex="0"></button>
                    <ul class="custom-gallery-list">
                        {% for element in page.gallery %}
                        <li class="custom-gallery-item">
                            <div class="custom-gallery-image">
                                {% image element.value.image original %}
                            </div>
                            <div class="custom-gallery-caption">
                                <div class="max-800">
                                {{ element.value.image_description }}
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="custom-gallery-navigation next" tabindex="0"></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock profile_page_content %}
