{% extends "home/object_profile_page.html" %}
{% load static wagtailimages_tags %}

{% block body_class %}{{ block.super }} template-lab{% endblock %}

{% block container_class %}lab-profile-container mb-5{% endblock %}

{% block hero_image %}
{% image page.image original as hero_image %}
<section style="background-image: url({{ hero_image.url }})" class="container-fluid image-embed px-4 px-md-0"></section>
{% endblock hero_image %}

{% block profile_page_desc %}
<div class="col-md-6 col-xl-8 intro-text">
    <p>{{ page.description }}</p>
</div>
{% endblock profile_page_desc %}

{% block profile_page_contact_information %}
<div class="col-md-6 col-xl-4">
    <p>
        Vodja laba:<br />
        {{ page.lab_lead }}
    </p>
    <p>
        <a href="{{ page.email }}">e-pošta</a>
    </p>
    <p>
        <a href="">termini usposabljanj</a>
    </p>
    <p>
        <a href="">spletna usposabljanja</a>
    </p>
</div>
{% endblock profile_page_contact_information %}

{% block profile_page_content %}
<div class="row">
    {% for tool in page.related_tools.all %}
    <div class="col-4">
        <div class="card tool-card color-scheme-white">
            <h4 class="card-title text-center">{{ tool.name }}</h4>
            {% image tool.image original class="img-fluid" alt="..." %}
            {% if tool.related_tool_specifications.all %}
            <div class="specifications">
                {% for spec in tool.related_tool_specifications.all %}
                <p class="d-flex justify-content-between">
                    <span>{{ spec.name }}</span>
                    <span>{{ spec.value }}</span>
                </p>
                {% endfor %}
            </div>
            {% endif %}
            <div class="text-center">
                <a href="" class="primary-button button-medium">rezerviraj</a>
            </div>
            {% if tool.related_trainings.all %}
            {% endif %}
            <p>Za rezervacijo potrebuješ usposabljanje.</p>
            <p>Prijava na usposabljanje.</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock profile_page_content %}
