{% extends "home/wrapper_page.html" %}
{% load static %}

{% block body_class %}template-profile{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block page_body %}

{% block hero_image %}{% endblock hero_image %}

<div class="container object-profile-container {% block container_class %}{% endblock %}">

    {% block profile_page_header %}
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">{{ page.title }}</h1>
        </div>
    </div>
    {% endblock profile_page_header %}
    
    {% block profile_page_body %}
    
    {% block profile_page_intro %}
    <div class="row">
        
        {% block profile_page_desc %}
        <div class="col-6 intro-text">
            <p>{{ page.description }}</p>
        </div>
        {% endblock profile_page_desc %}
        
        {% block profile_page_contact_information %}
        <div class="col-6">
            <div class="contact-information color-scheme-white">
                <div class="tape"></div>
                <div class="notice">
                    <p><a href="mailto:{{ page.email }}">e-pošta</a></p>
                    <p>{{ page.phone }}</p>
                    <p>Vsak element je lahko link, lahko pa samo tekst</p>
                </div>
                <div class="tape"></div>
            </div>

            {% if page.working_hours %}
            <div class="working-hours color-scheme-yellow">
                <div class="tape"></div>
                <div class="notice">
                    {% for working_hours in page.working_hours %}
                    <p>
                        <span>{{ working_hours.value.day }}</span>
                        <span>{{ working_hours.value.start_time }}-{{ working_hours.value.end_time }}</span>
                    </p>
                    {% endfor %}
                </div>
                <div class="tape"></div>
            </div>
            {% endif %}

        </div>

        {% endblock profile_page_contact_information %}
        
    </div>
    {% endblock profile_page_intro %}

    {% block profile_page_content %}
    {% endblock profile_page_content %}

    {% endblock profile_page_body %}

    {% block profile_page_see_more %}
    {% endblock profile_page_see_more %}
</div>

{% endblock page_body %}
