{% extends "home/wrapper_page.html" %}
{% load static wagtailimages_tags %}

{% block body_class %}template-profile{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block page_body %}

{% block hero_image %}{% endblock hero_image %}

<div class="container object-profile-container {% block container_class %}{% endblock %}">

    {% block profile_page_header %}
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">{{ page.title }}</h1>
        </div>
    </div>
    {% endblock profile_page_header %}
    
    {% block profile_page_body %}
    
    {% block profile_page_intro %}
    <div class="row mb-4">
        
        {% block profile_page_desc %}
        <div class="col-md-6 intro-text">
            <p>{{ page.description }}</p>
        </div>
        {% endblock profile_page_desc %}
        
        {% block profile_page_contact_information %}
        <div class="col-md-6">
            <div class="contact-information color-scheme-white">
                <div class="tape"></div>
                <div class="notice">
                    {% if page.email %}
                    <p><a href="mailto:{{ page.email }}">e-pošta</a></p>
                    {% endif %}
                    {% if page.phone %}
                    <p>{{ page.phone }}</p>
                    {% endif %}
                    {% if page.link_1 or page.link_2 or page.link_3 %}
                    <div class="mb-2">
                        {% if page.link_1 %}
                        <a href="{{ page.link_1 }}" target="_blank" class="secondary-button button-medium">gumb</a>
                        {% endif %}
                        {% if page.link_2 %}
                        <a href="{{ page.link_2 }}" target="_blank" class="secondary-button button-medium">gumb</a>
                        {% endif %}
                        {% if page.link_3 %}
                        <a href="{{ page.link_3 }}" target="_blank" class="secondary-button button-medium">gumb</a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if page.contact_description %}
                    <p>{{ page.contact_description }}</p>
                    {% endif %}
                </div>
                <div class="tape"></div>
            </div>

            {% if page.working_hours %}
            <div class="working-hours color-scheme-yellow">
                <div class="tape"></div>
                <div class="notice">
                    {% for working_hours in page.working_hours %}
                    <p>
                        <span>{{ working_hours.value.day }}</span>
                        <span>{{ working_hours.value.start_time }} - {{ working_hours.value.end_time }}</span>
                    </p>
                    {% endfor %}
                </div>
                <div class="tape"></div>
            </div>
            {% endif %}

        </div>

        {% endblock profile_page_contact_information %}
        
    </div>
    {% endblock profile_page_intro %}
</div>

{% block profile_page_content %}

{% if page.image %}
<div class="container">
    <div class="row">
        <div class="col-12">
            {% image page.image original class="img-fluid" %}
            {% if page.image_description %}
            <p class="image-description mt-2">{{ page.image_description }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

{% if page.gallery %}
<div class="container-fluid">
    <div class="row mb-5 mt-3">
        <div class="col-12">
            <div class="glide">
                <div class="glide__arrows" data-glide-el="controls">
                  <button class="glide__arrow glide__arrow--left" data-glide-dir="<">🡸</button>
                  <button class="glide__arrow glide__arrow--right" data-glide-dir=">">🡺</button>
                </div>
                <div class="glide__track" data-glide-el="track">
                  <ul class="glide__slides">
                    {% for element in page.gallery %}
                    <li class="glide__slide">{% image element.value original class="img-fluid" %}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock profile_page_content %}

{% endblock profile_page_body %}

{% if page.show_see_more_section %}
{% block profile_page_see_more %}
{% include "home/includes/see_more.html" %}
{% endblock profile_page_see_more %}
{% endif %}

{% endblock page_body %}
