{% extends "home/object_archive_list_page.html" %}
{% load i18n static %}

{% block list_page_body %}
<div class="row">
    <div class="col-12">
        {% for element in list %}
        <a href="{{ element.url }}" class="color-scheme-light-gray list-element">
            <span>{{ element }}</span>
            {% if element.active_from and element.active_to %}
            <span>{% translate "od" %} {{ element.active_from|date:"j. n. Y" }}{% if element.active_to %} {% translate "do" %} {{ element.active_to|date:"j. n. Y" }}{% endif %}</span>
            {% endif %}
        </a>
        {% endfor %}
    </div>
</div>
{% endblock list_page_body %}
