{% extends "home/object_list_page.html" %}
{% load i18n static wagtailcore_tags %}

{% block body_class %}{{ block.super }} template-residence-list{% endblock %}

{% block list_page_body %}

<div class="row">
    <div class="col-xl-7">
        <p class="intro">{{ page.intro_text }}</p>
    </div>

    <div class="col-xl-5 residents-section">
        <div class="doorbell">
            {% for resident in residents %}
                <div class="resident">
                    <a href="{% pageurl resident.localized %}" class="doorbell-button"></a>
                    <div class="resident-name">
                        <div class="paper">
                            {{ resident }}
                        </div>
                        <div class="tape"></div>
                        <div class="tape"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center bulletin-board-link">
        <a href="{{ archive_page.url }}"><span>{% translate 'arhiv' %}</span></a>
    </div>
</div>

{% endblock list_page_body %}
