{% extends "home/object_archive_list_page.html" %}
{% load static %}

{% block list_page_body %}
<div class="row">
    <div class="col-12">
        {% for element in list %}
        <a href="{{ element.url }}" class="color-scheme-dark-green list-element">
            <span>{{ element }}</span>
            {% if element.active_from and element.active_to %}
            <span>{{ element.active_from|date:"Y" }}{% if element.active_to %} - {{ element.active_to|date:"Y" }}{% endif %}</span>
            {% endif %}
        </a>
        {% endfor %}
    </div>
</div>
{% endblock list_page_body %}
