{% extends "home/object_list_page.html" %}
{% load i18n static %}

{% block body_class %}{{ block.super }} template-studio-list{% endblock %}

{% block list_page_list %}
<div class="row my-5 justify-content-center">
    {% for studio in studios %}
    <div class="col-md-4 col-xl-3 studio-card-col">
        {% include "home/includes/studio_card.html" with studio=studio %}
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-12 text-center">
        <a href="{{ archive_page.url }}" class="secondary-button button-medium">{% translate 'arhiv' %}</a>
    </div>
</div>
{% endblock list_page_list %}
