{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block extra_css %}

{% endblock extra_css %}

{% block extra_js %}
{% endblock extra_js %}


{% block content %}

{% include "home/includes/header.html" %}

<main class="flex-page-height {% if page.color_scheme %}color-scheme-{{ page.color_scheme }}{% endif %}">

    <div class="wrapper-page flex-grow-1">
        {% block page_body %}{% endblock page_body %}
    </div>

    {% include "home/includes/cookie_notice.html" %}
    {% include "home/includes/footer.html" %}

</main>

{% endblock content %}
