{% extends 'emails/base.html' %}
{% block body %}

    <p>
        Živijo!
    </p>
    <p>
        Veseli nas, da si postal_a član_ica Centra Rog!
    </p>
    <p>
        Pošiljamo ti personalizirano kodo, ki ti prinaša eno brezplačno usposabljanje za uporabo strojne opreme po tvoji izbiri.
    </p>
    <p>
        <a href="https://center-rog.si/program/?category=usposabljanja">TUKAJ</a> lahko preveriš, katera usposabljanja so trenutno na voljo. Za brezplačno prijavo v prijavnem obrazcu uporabi kodo <strong>{{ code }}</strong>.
    </p>
    <p>
        Koda velja do konca leta 2024, zato spremljaj našo spletno stran, kjer bo v naslednjih mesecih objavljenih še več možnosti za usposabljanja.
    </p>
    <p>
        Članstvo v Centru Rog ti prinaša <strong>tudi številne ugodnosti in popuste pri vodenih tečajih in delavnicah</strong> – kaj imamo trenutno na programu preveri <a href="https://center-rog.si/program/?category=usposabljanja">TUKAJ</a>.  Poleg tega lahko <strong>le kot član ali članica v svojem profilu kupiš uporabniški paket<strong>, ki ti po opravljenem usposabljanju omogočajo koriščenje odprtih terminov v različnih delavnicah.
    </p>
    <p>
        Za dodatna pojasnila nam piši na <a href="mailto:info@center-rog.si">info@center-rog.si</a> ali nas pokliči na telefonsko številko, ki je objavljena na spletni strani.
    </p>
    <p>
        Se vidimo!
    </p>
    <p>
        Ekipa Centra Rog
    </p>

{% endblock body %}
