{% extends 'emails/base.html' %}
{% block body %}

    <p>
        Živijo!
    </p>
    <p>
        Zahvaljujemo se ti za zakup paketa {{ plan.name }} za odprte termine v proizvodnih labih.  Tvoj paket velja {{ plan.duration }} dni od dneva nakupa. Več informacij o tem, kaj omogoča zakupljen paket, si lahko prebereš <a href="https://center-rog.si/paketi-za-samostojno-delo/">TUKAJ</a>.
    </p>
    <p>
        Za dodatna pojasnila nam lahko pišeš na info@center-rog.si ali nas pokličeš na telefonsko številko, ki je objavljena na spletni strani.
    </p>
    <p>
        Lep pozdrav,
    </p>
    <p>
        Ekipa Centra Rog
    </p>

{% endblock body %}
