{% load wagtailcore_tags wagtailimages_tags %}

{% if value.title and value.show_link_in_secondary_menu %}<a name="{{ value.title|slugify }}" class="scroll-anchor"></a>{% endif %}
<section  class="color-scheme-{{ value.color }} colored-text-section">

<div class="container with-image">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">{{ value.title }}</h2>
            {% if value.text %}
            <p>{{ value.text }}</p>
            {% endif %}
        </div>
    </div>

    <div class="row my-4 justify-content-center">
        {% for element in value.cards %}
        <div class="col-6 mb-4 col-md-3 mb-md-0 link-card">
            {% image element.image original class="img-fluid" alt=value.image.alt_description %}
            <p>{{ element.description }}</p>
            <a href="{{ element.link }}" target="_blank" class="link">
                <span class="link-text">{{ element.link_text }}</span>
                <span class="link-icon"></span>
            </a>
        </div>
        {% endfor %}
    </div>

    {% if value.link %}
    <div class="row mt-5">
        <div class="col-12 d-flex justify-content-center">
            {% for link in value.link %}
            {% if link.value.link_type == "button" %}
            <a class="secondary-button button-medium" href="{% if link.block_type == 'page_link' %}{% pageurl link.value.page %}{% else %}{{ link.value.url }}{% endif %}">
                {% if link.value.name %}{{ link.value.name }}{% else %}{{ link.value.page.title }}{% endif %}
            </a>
            {% else %}
            <a class="link" href="{% if link.block_type == 'page_link' %}{% pageurl link.value.page %}{% else %}{{ link.value.url }}{% endif %}">
                <span class="link-text">{% if link.value.name %}{{ link.value.name }}{% else %}{{ link.value.page.title }}{% endif %}</span>
                <span class="link-icon"></span>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

</section>
