{% load wagtailcore_tags wagtailimages_tags %}

{% if value.title and value.show_link_in_secondary_menu %}<a name="{{ value.title|slugify }}" class="scroll-anchor"></a>{% endif %}
<section  class="color-scheme-{{ value.color }} colored-text-section">

<div class="container with-image">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center max-800">{{ value.title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 rich-text-module">
            <div class="max-800">
                {{ value.rich_text|richtext }}
            </div>
        </div>
    </div>
    {% if value.link %}
    {% include "home/includes/bottom_button.html" with value_link=value.link %}
    {% endif %}
</div>

</section>
