{% load wagtailcore_tags wagtailimages_tags %}

{% if value.title and value.show_link_in_secondary_menu %}<a name="{{ value.title|slugify }}" class="scroll-anchor"></a>{% endif %}
<section  class="color-scheme-{{ value.color }} colored-text-section">

{% if value.image %}
    <div class="container with-image">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center max-800">{{ value.title }}</h2>
            </div>
            {% if value.image_position == 'align-bottom' %}
            <div class="col-12">
                <div class="max-800">
                    <p>{{ value.text }}</p>
                </div>
                <div class="max-800">
                    {% image value.image original class="w-100 img-fluid" alt=value.image.alt_description %}
                    <p class="image-description">{{ value.image.title }}</p>
                </div>
                {% if value.link %}
                <div class="mt-30">
                {% include "home/includes/bottom_button.html" with value_link=value.link %}
                </div>
                {% endif %}
            </div>
            {% else %}
            <div class="col-md-6 {% if value.image_position == 'align-left' %}order-2{% endif %}">
                <p>{{ value.text }}</p>
                {% if value.link %}
                {% include "home/includes/bottom_button.html" with value_link=value.link align="left" %}
                {% endif %}
            </div>
            <div class="col-md-6">
                <div>
                    {% image value.image original class="w-100 img-fluid mb-4 mb-md-0" alt=value.image.alt_description %}
                    <p class="image-description">{{ value.image.title }}</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="container no-image">
        <div class="row justify-content-center">
            <div class="col-12 col-xxl-8">
                <!-- <h2 class="text-center">{{ value.title }}</h2> -->
                <p>{{ value.text }}</p>
                {% if value.link %}
                <div class="mt-30">
                {% include "home/includes/bottom_button.html" with value_link=value.link %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}

</section>
