{% load wagtailcore_tags wagtailimages_tags %}

<section {% if value.title and value.show_link_in_secondary_menu %}id="{{ value.title|slugify }}"{% endif %} class="color-scheme-{{ value.color }} colored-text-section">

<div class="container with-image">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">{{ value.title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 rich-text-module">
            {{ value.rich_text|safe }}
        </div>
    </div>
    {% if value.link %}
    <div class="row mt-3">
        <div class="col-12 d-flex justify-content-center">
            {% for link in value.link %}
            {% if link.value.link_type == "button" %}
            <a class="secondary-button button-medium" href="{% if link.block_type == 'page_link' %}{% pageurl link.value.page %}{% else %}{{ link.value.url }}{% endif %}">
                {% if link.value.name %}{{ link.value.name }}{% else %}{{ link.value.page.title }}{% endif %}
            </a>
            {% else %}
            <a class="link" href="{% if link.block_type == 'page_link' %}{% pageurl link.value.page %}{% else %}{{ link.value.url }}{% endif %}">
                <span class="link-text">{% if link.value.name %}{{ link.value.name }}{% else %}{{ link.value.page.title }}{% endif %}</span>
                <span class="link-icon"></span>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

</section>