{% load wagtailcore_tags wagtailimages_tags %}

{% if value.title and value.show_link_in_secondary_menu %}<a name="{{ value.title|slugify }}" class="scroll-anchor"></a>{% endif %}
<section  class="color-scheme-{{ value.color }} colored-text-section">

<div class="container with-image">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">{{ value.title }}</h2>
            {% if value.text %}
            <p>{{ value.text }}</p>
            {% endif %}
        </div>
    </div>

    <div class="row justify-content-center">
        {% for element in value.cards %}
        <div class="col-6 col-md-3 link-card">
            <div class="card-img">
                {% image element.image original class="img-fluid" alt=value.image.alt_description %}
            </div>
            <p class="mb-0">{{ element.description }}</p>
            {% if element.link and element.link_text %}
            <a href="{{ element.link }}" target="_blank" class="link">
                <span class="link-text">{{ element.link_text }}</span>
                <span class="link-icon"></span>
            </a>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    {% if value.link %}
    {% include "home/includes/bottom_button.html" with value_link=value.link %}
    {% endif %}
</div>

</section>
