{% load wagtailcore_tags wagtailimages_tags %}

<section class="color-scheme-{{ value.color }} colored-text-section">

{% if value.image %}
    <div class="container with-image">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">{{ value.title }}</h2>
            </div>

            {% if value.image_position == 'align-bottom' %}
            <div class="col-12">
                <p>{{ value.text }}</p>
                {% image value.image original class="img-fluid" alt="..." %}
            </div>
            {% else %}
            <div class="col-md-6 {% if value.image_position == 'align-left' %}order-2{% endif %}">
                <p>{{ value.text }}</p>
            </div>
            <div class="col-md-6">
                {% image value.image original class="img-fluid" alt="..." %}
            </div>
            {% endif %}
        </div>
    </div>

{% else %}
    <div class="container no-image">
        <div class="row justify-content-center">
            <div class="col-12 col-xxl-8">
                <!-- <h2 class="text-center">{{ value.title }}</h2> -->
                <p>{{ value.text }}</p>
            </div>
        </div>
    </div>
{% endif %}

</section>