{% load wagtailcore_tags wagtailimages_tags %}

<section id="{{ value.id }}" class="color-scheme-{{ value.color }} colored-text-section">

<div class="container with-image">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">{{ value.title }}</h2>
        </div>
    </div>

    {% for contact in value.contacts %}
    <div class="row">
        <div class="col-4">
            <p class="mb-2">{{ contact.name }}</p>
        </div>
        <div class="col-6">
            <p class="mb-2">{{ contact.position }}</p>
        </div>
        <div class="col-2 text-end">
            <a href="mailto:{{contact.email}}" class="email-link">
                <span class="email-text">email</span>
                <span class="email-icon">
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="copy">
                        <path id="Vector" d="M11.9323 5.83643H6.94116C6.32861 5.83643 5.83203 6.333 5.83203 6.94556V11.9366C5.83203 12.5492 6.32861 13.0458 6.94116 13.0458H11.9323C12.5448 13.0458 13.0414 12.5492 13.0414 11.9366V6.94556C13.0414 6.333 12.5448 5.83643 11.9323 5.83643Z" stroke="#3B4352" stroke-width="1.10913" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_2" d="M3.61682 9.16345H3.06226C2.7681 9.16345 2.48598 9.0466 2.27798 8.8386C2.06998 8.63059 1.95313 8.34848 1.95312 8.05432V3.06323C1.95312 2.76907 2.06998 2.48696 2.27798 2.27896C2.48598 2.07096 2.7681 1.9541 3.06226 1.9541H8.05334C8.3475 1.9541 8.62962 2.07096 8.83762 2.27896C9.04562 2.48696 9.16248 2.76907 9.16248 3.06323V3.6178" stroke="#3B4352" stroke-width="1.10913" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </svg>                        
                </span>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

</section>