{% load wagtailcore_tags wagtailimages_tags %}

<section class="color-scheme-{{ value.color }}">
  <div class="container">
    <div class="row justify-content-center mb-30">
      <div class="col-12">
        <h2 class="text-center gallery-title">{{ value.title }}</h2>
        <div class="custom-gallery">
          <div class="custom-gallery-content">
            <button type="button" class="custom-gallery-navigation prev" tabindex="0"></button>
            <ul class="custom-gallery-list">
              {% for element in value.gallery %}
              <li class="custom-gallery-item">
                <div class="custom-gallery-image">
                  {% image element.image original %}
                </div>
                <div class="custom-gallery-caption">
                  <div class="max-800">
                    {{ element.image_description }}
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
            <button type="button" class="custom-gallery-navigation next" tabindex="0"></button>
          </div>
        </div>
      </div>
    </div>
    {% if value.link %}
    {% include "home/includes/bottom_button.html" with value_link=value.link %}
    {% endif %}
  </div>
</section>
