{% load wagtailcore_tags wagtailimages_tags %}

<section class="color-scheme-{{ value.color }}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1 class="text-center">{{ value.title }}</h1>
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for element in value.gallery %}
                        <div class="carousel-item {% if forloop.counter == 2 %} active{% endif %}">
                            {% image element original class="d-block w-100" alt="..." %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
