{% load wagtailcore_tags wagtailimages_tags %}

<section id="{{ value.id }}" class="color-scheme-{{ value.color }}">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="text-center gallery-title">{{ value.title }}</h2>
        <div class="glide">
          <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">‹</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">›</button>
          </div>
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              {% for element in value.gallery %}
              <li class="glide__slide">{% image element original class="img-fluid" %}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% if value.button %}
    <div class="row mt-4">
      <div class="col-12 text-center">
        <a href="{% pageurl value.button %}" class="primary-button button-medium">{{ value.button }}</a>
      </div>
    </div>
    {% endif %}
  </div>
</section>
