{% load wagtailcore_tags wagtailimages_tags %}

{% image value.image original as background_image %}

<section style="background-image: url({{ background_image.url }})" class="container-fluid image-embed px-4 px-md-0">
    {% if value.text %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xxl-9">
                <div class="image-embed-text-box color-scheme-{{ value.color }} p-4">
                    <p>{{ value.text }}</p>
                    {% if value.link %}
                    <div class="bulletin-board-link">
                        {% for link in value.link %}
                        <a href="{% if link.value.url %}{{ link.value.url }}{% elif link.value.page %}{% pageurl link.value.page %}{% endif %}"><span>{% if link.value.name %}{{ link.value.name }}{% elif link.value.page %}{{ link.value.page.title }}{% endif %}</span></a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>
