{% load i18n wagtailcore_tags wagtailimages_tags %}

<section {% if value.title and value.show_link_in_secondary_menu %}id="{{ value.title|slugify }}"{% endif %} class="color-scheme-light-green labs-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2>{{ value.title }}</h2>
        <p class="max-800">{{ value.intro_text }}</p>
      </div>
    </div>
    <div class="row">
      {% for lab in value.labs %}
      <div class="col-6 col-md-4 col-xxl-3">
        <a href="{{ lab.get_url }}" class="lab">
          {% image lab.thumbnail original format-png class="img-fluid" alt=lab.title %}
          {% image lab.thumbnail original            class="img-fluid" alt=lab.title %}
          <h6>{{ lab.title }}</h6>
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="row mt-4">
      <div class="col-12 text-center">
        <a href="{% pageurl labs_list %}" class="secondary-button button-medium"
          >{% translate 'Vsi laboratoriji' %}</a
        >
      </div>
    </div>
  </div>
</section>
