{% load wagtailcore_tags wagtailimages_tags %}

<section class="color-scheme-light-green">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10 col-xxl-8">
                <h2>{{ value.title }}</h2>
                <p>{{ value.intro_text }}</p>
            </div>
        </div>
        <div class="row">
        {% for lab in labs %}
            <div class="col-md-4 col-xxl-3">
                <a href="{{ lab.get_url }}">
                    {% image lab.thumbnail original class="img-fluid" alt="..." %}
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
