{% load i18n wagtailcore_tags %}

<section {% if value.title and value.show_link_in_secondary_menu %}id="{{ value.title|slugify }}"{% endif %} class="color-scheme-brown market-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2>{{ value.title }}</h2>
                <p class="max-800">{{ value.intro_text }}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid markets-container">
        {% for market in value.markets %}
        <div class="row color-scheme-{{ market.card_color_scheme }} card-hover">
            <a href="{% pageurl market.localized %}" class="col-12 text-center py-3">
                <h4 class="m-0">{{ market.localized }}</h4>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 text-center bulletin-board-link">
                <a href="{% pageurl markets_list %}"><span>{% translate 'Poglej celotno tržnico' %}</span></a>
            </div>
        </div>
    </div>
</section>
