{% load wagtailcore_tags wagtailimages_tags %}

{% if value.title and value.show_link_in_secondary_menu %}<a name="{{ value.title|slugify }}" class="scroll-anchor"></a>{% endif %}
<section  class="color-scheme-{{ value.color }} memberships-section">

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">{{ value.title }}</h2>
        </div>
    </div>
    <div class="row my-5 justify-content-center radio-square-wrapper">
        {% for membership_type in membership_types %}
        <div class="col-12 col-md-6 col-xxl-4">
            <div class="radio-square">
                <h4>{{ membership_type.name }}</h4>
                <ul>
                    {% for specification in membership_type.related_specifications.all %}
                    <li>{{ specification }}</li>
                    {% endfor %}
                </ul>
                <h3>{{ membership_type.price }}</h3>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if value.link %}
    {% include "home/includes/bottom_button.html" with value_link=value.link %}
    {% endif %}
</div>

</section>
