{% load wagtailcore_tags wagtailimages_tags %}

<section id="{{ value.id }}" class="color-scheme-{{ value.color }} memberships-section">

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">{{ value.title }}</h2>
        </div>
    </div>
    <div class="row my-5 justify-content-center radio-square-wrapper">
        {% for membership_type in membership_types %}
        <div class="col-12 col-md-6 col-xxl-4">
            <div class="radio-square">
                <h4>{{ membership_type.name }}</h4>
                <ul>
                    {% for specification in membership_type.related_specifications.all %}
                    <li>{{ specification }}</li>
                    {% endfor %}
                </ul>
                <h3>{{ membership_type.price }}</h3>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if value.link %}
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            {% for link in value.link %}
            {% if link.value.link_type == "button" %}
            <a class="secondary-button button-medium" href="{% if link.block_type == 'page_link' %}{% pageurl link.value.page %}{% else %}{{ link.value.url }}{% endif %}">
                {% if link.value.name %}{{ link.value.name }}{% else %}{{ link.value.page.title }}{% endif %}
            </a>
            {% else %}
            <a class="link" href="{% if link.block_type == 'page_link' %}{% pageurl link.value.page %}{% else %}{{ link.value.url }}{% endif %}">
                <span class="link-text">{% if link.value.name %}{{ link.value.name }}{% else %}{{ link.value.page.title }}{% endif %}</span>
                <span class="link-icon"></span>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

</section>