{% load i18n wagtailcore_tags wagtailimages_tags %}

{% if value.title and value.show_link_in_secondary_menu %}<a name="{{ value.title|slugify }}" class="scroll-anchor"></a>{% endif %}
<section  class="color-scheme-{{ value.color }} memberships-section user-purchase-plan">

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center max-800">{{ value.title }}</h2>
        </div>
    </div>
    {% if value.intro_text %}
    <div class="row">
        <div class="col-12">
            <p class="intro max-800"><small>{{ value.intro_text }}</small></p>
        </div>
    </div>
    {% endif %}
    <div class="row my-3 justify-content-center radio-square-wrapper">
        {% for membership_type in membership_types %}
        <div class="col-12 col-md-6 col-xl-4 my-4">
            <div class="radio-square">
                <h3>{{ membership_type.name }}</h3>
                <p><small class="mb-0">{% translate 'cena' %}</small></p>
                <p class="price">{{ membership_type.price }}€</p>
                <hr />
                <ul>
                    {% for specification in membership_type.related_specifications.all %}
                    <li>{{ specification }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if value.link %}
    {% include "home/includes/bottom_button.html" with value_link=value.link %}
    {% endif %}
</div>

</section>
