{% load wagtailcore_tags %}

<section class="color-scheme-light-gray news-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <h2>{{ value.title }}</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid news-container">
        <div class="row">
            {% for news_page in value.exposed_news %}
                {% include "news/includes/card.html" with news=news_page.value %}
            {% endfor %}
        </div>
    </div>
</section>
