{% load i18n wagtailcore_tags news_and_events_tags %}

{% if value.title and value.show_link_in_secondary_menu %}<a name="{{ value.title|slugify }}" class="scroll-anchor"></a>{% endif %}
<section  class="color-scheme-light-gray news-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <h2>{{ value.title }}</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid news-container">
        <div class="row">
            {% for news_page in value.exposed_news|with_up_to_15_recent_news %}
                {% include "news/includes/card.html" with news=news_page %}
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 text-center">
                <div class="scrolling-dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center bulletin-board-link">
                <a href="{% pageurl news_list %}"><span>{% translate 'Poglej vse novice' %}</span></a>
            </div>
        </div>
    </div>
</section>
