{% load wagtailcore_tags %}

<section class="color-scheme-dark-gray residents-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2 mb-4 mb-md-0">
                <h2 class="d-md-none">{{ value.title }}</h2>
                <div class="doorbell">
                {% for resident in value.residents %}
                    <div class="resident">
                        <a href="{% pageurl resident.localized %}" class="doorbell-button"></a>
                        <div class="resident-name">
                            <div class="paper">
                                {{ resident }}
                            </div>
                            <div class="tape"></div>
                            <div class="tape"></div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="col-md-6 pe-md-5 order-md-1">
                <h2 class="d-none d-md-block text-start">{{ value.title }}</h2>
                <p>{{ value.intro_text }}</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <a href="">link z ikono</a>
            </div>
        </div>
    </div>
</section>
