{% load i18n wagtailcore_tags %}

{% if value.title and value.show_link_in_secondary_menu %}<a name="{{ value.title|slugify }}" class="scroll-anchor"></a>{% endif %}
<section  class="color-scheme-dark-gray residents-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2 mb-4 mb-md-0">
                <h2 class="d-md-none">{{ value.title }}</h2>
                <div class="doorbell">
                {% for resident in value.residents %}
                    <a href="{% pageurl resident.localized %}" class="resident">
                        <span class="doorbell-button"></span>
                        <div class="resident-name">
                            <div class="paper">
                                {{ resident }}
                            </div>
                            <div class="tape"></div>
                            <div class="tape"></div>
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>
            <div class="col-md-6 pe-md-5 order-md-1">
                <h2 class="d-none d-md-block text-start">{{ value.title }}</h2>
                <p class="max-800">{{ value.intro_text }}</p>
            </div>
        </div>
        {% if value.link %}
        {% include "home/includes/bottom_button.html" with value_link=value.link %}
        {% endif %}
    </div>
</section>
