{% load i18n wagtailcore_tags %}

<section {% if value.title and value.show_link_in_secondary_menu %}id="{{ value.title|slugify }}"{% endif %} class="color-scheme-yellow studios-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2>{{ value.title }}</h2>
                <p>{{ value.intro_text }}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid studios-container">
        <div class="row">
            {% for studio in value.studios %}
            <div class="col studio-card-col">
                {% include "home/includes/studio_card.html" with studio=studio %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 text-center">
                <div class="scrolling-dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center bulletin-board-link">
                <a href="{% pageurl studios_list %}"><span>{% translate 'Poglej vse studie' %}</span></a>
            </div>
        </div>
    </div>
</section>
