{% load wagtailcore_tags %}

<div class="row">
    <div class="col-12 d-flex justify-content-center">
        {% for link in value_link %}
            {% if link.value.link_type == "link" %}
            <a class="link" href="{% if link.block_type == 'page_link' %}{% pageurl link.value.page %}{% else %}{{ link.value.url }}{% endif %}">
                <span class="link-text">{% if link.value.name %}{{ link.value.name }}{% else %}{{ link.value.page.title }}{% endif %}</span>
                <span class="link-icon"></span>
            </a>
            {% else %}  
            <a class="{% if link.value.link_type == 'primary_button' %}primary-button{% else %}secondary-button{% endif %} button-medium" href="{% if link.block_type == 'page_link' %}{% pageurl link.value.page %}{% else %}{{ link.value.url }}{% endif %}">
                {% if link.value.name %}{{ link.value.name }}{% else %}{{ link.value.page.title }}{% endif %}
            </a>
            {% endif %}
        {% endfor %}
    </div>
</div>