{% load i18n %}

<div class="cookie-notice color-scheme-white" style="display:none;">
  <div class="tape"></div>
  <div class="binder-holes">
    <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 247 14">
      <path fill-rule="evenodd" d="M247 0H0v13.98h247V0ZM7 3.73a3.26 3.26 0 1 0 0 6.52 3.26 3.26 0 0 0 0-6.52Zm236.27 3.26a3.26 3.26 0 1 1-6.52 0 3.26 3.26 0 0 1 6.52 0ZM48.93 3.73a3.26 3.26 0 1 0 0 6.52 3.26 3.26 0 0 0 0-6.52Zm152.4 3.26a3.26 3.26 0 1 1-6.53 0 3.26 3.26 0 0 1 6.53 0ZM123.5 3.73a3.26 3.26 0 1 0 0 6.52 3.26 3.26 0 0 0 0-6.52ZM13.05 6.99c0-1.8 1.46-3.26 3.26-3.26h9.32a3.26 3.26 0 0 1 0 6.52h-9.32A3.26 3.26 0 0 1 13.05 7Zm217.64 3.26a3.26 3.26 0 1 0 0-6.52h-9.32a3.26 3.26 0 1 0 0 6.52h9.32ZM87.62 7c0-1.8 1.46-3.26 3.26-3.26h9.32a3.26 3.26 0 1 1 0 6.52h-9.32A3.26 3.26 0 0 1 87.62 7Zm68.5 3.26a3.26 3.26 0 0 0 0-6.52h-9.32a3.26 3.26 0 1 0 0 6.52h9.32ZM68.97 7c0-1.8 1.46-3.26 3.27-3.26h9.32a3.26 3.26 0 1 1 0 6.52h-9.32A3.26 3.26 0 0 1 68.97 7Zm105.8 3.26a3.26 3.26 0 1 0 0-6.52h-9.33a3.26 3.26 0 1 0 0 6.52h9.32Z" clip-rule="evenodd"/>
    </svg>
  </div>
  <div class="binder-bg">
    <div class="binder-content">
      <p>
        {% translate 'Ali se strinjate z uporabo piškotkov?' %}
      </p>
      <p>
        <a class="link" href="/politika-zasebnosti/">
          <span class="link-text">{% translate 'preberi več' %}</span>
          <span class="link-icon"></span>
        </a>
      </p>
      <p class="buttons">
        <button type="button" id="cookie-yes" class="secondary-button button-small">{% translate 'da' %}</button>
        <button type="button" id="cookie-no" class="secondary-button button-small">{% translate 'ne' %}</button>
      </p>
    </div>
  </div>
  <div class="tape"></div>
</div>
<script>
  (function () {
    const notice = document.querySelector('.cookie-notice');
    const yesButton = document.querySelector('#cookie-yes');
    const noButton = document.querySelector('#cookie-no');

    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
    }

    function setCookie(name, value, days) {
      var d = new Date();
      d.setTime(d.getTime() + (days * 24 * 60 * 60 * 1000));
      var expires = "expires=" + d.toUTCString();
      document.cookie = name + "=" + value + ";" + expires + ";path=/";
    }

    yesButton.addEventListener('click', function () {
      setCookie('cookie-notice', 'true', 365);
      notice.style.display = 'none';
    });

    noButton.addEventListener('click', function () {
      setCookie('cookie-notice', 'false', 365);
      notice.style.display = 'none';
    });

    if (getCookie('cookie-notice') === undefined) {
      notice.style.display = '';
    }
  }());
</script>
