{% load i18n static wagtailimages_tags usergallery_tags jsonify %}

<form action="{% if payment_needed %}{% url 'registration-profile' %}{% else %}{% url 'profile-edit' %}{% endif %}{% if next_page %}?next={{ next_page }}{% endif %}" enctype="multipart/form-data" method="post" class="edit-profile-form">
    {% csrf_token %}
    {{ form.membership.as_hidden }}
    <p>
        {% translate 'Če želite je lahko vaš profil dostopen tudi drugim uporabnikom. Tako vas bodo tisti s podobnimi zanimanji lažje našli, ter vprašali za nasvet, pomoč... Dostopne bodo samo informacije spodaj...' %}
    </p>

    <div class="form-field-wrapper one-line mb-40 rog-check">
        {{ form.public_profile }} {{ form.public_profile.label_tag }}
    </div>

    <div class="form-field-wrapper">
        {{ form.public_username.label_tag }} {{ form.public_username }}
        <!--
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        -->
        {% if form.public_username.errors %}
        <p class="error">{{ form.public_username.errors }}</p>
        {% endif %}
    </div>

    <div class="form-field-wrapper">
        {{ form.description.label_tag }} {{ form.description }}
        <!--
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        -->
        {% if form.description.errors %}
        <p class="error">{{ form.description.errors }}</p>
        {% endif %}
    </div>

    <div class="form-field-wrapper">
        {{ form.link_1.label_tag }} {{ form.link_1 }}
        <!--
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        -->
        {% if form.link_1.errors %}
        <p class="error">{{ form.link_1.errors }}</p>
        {% endif %}
    </div>

    <div class="form-field-wrapper">
        {{ form.link_2.label_tag }} {{ form.link_2 }}
        <!--
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        -->
        {% if form.link_2.errors %}
        <p class="error">{{ form.link_2.errors }}</p>
        {% endif %}
    </div>

    <div class="form-field-wrapper">
        {{ form.link_3.label_tag }} {{ form.link_3 }}
        <!--
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        -->
        {% if form.link_3.errors %}
        <p class="error">{{ form.link_3.errors }}</p>
        {% endif %}
    </div>

    <div class="form-field-wrapper">
        {{ form.contact.label_tag }} {{ form.contact }}
        <!--
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        -->
        {% if form.contact.errors %}
        <p class="error">{{ form.contact.errors }}</p>
        {% endif %}
    </div>

    <h2>{% translate 'Izberi kategorije, ki te zanimajo' %}:</h2>

        {% for interest in form.interests %}
        <div class="radio-square-wrapper d-inline-block mb-2">
            {{ interest.tag }}
            <label for="{{ interest.id_for_label }}" class="radio-square btn tag">
                {{ interest.choice_label }}
            </label>
        </div>
        {% endfor %}

        {% if form.interests.errors %}
        <p class="error">{{ form.interests.errors }}</p>
        {% endif %}

    <h2>{% translate 'Dodaj slike svojih izdelkov' %}:</h2>

    <div class="form-field-wrapper user-gallery-wrapper">
        <p>
            {% translate 'Naložiš lahko največ 10 slik. Največja dovoljena velikost posamezne datoteke je 5MB. Dovoljena formata sta .jpg in .png.' %}
        </p>
        <p class="gallery-input-field">
            <label for="id_custom_gallery" class="d-inline-flex secondary-button button-small">
                {% translate 'naloži' %}
            </label>
            {{ form.custom_gallery }}
        </p>
        <p class="error">
            {{ form.custom_gallery.errors }}
        </p>
        <div class="user-gallery">
            <template>
                <div class="user-image">
                    <img src="https://placehold.co/200" alt="">
                    <button type="button" class="btn btn-link">{% translate 'odstrani' %}</button>
                </div>
            </template>
        </div>
        <script>window.__USER_GALLERY_DATA__ = JSON.parse("{{ form.gallery|gallery_data|jsonify|escapejs }}");</script>
        <script src="{% static 'js/user_gallery.js' %}"></script>
    </div>

    <div class="d-flex flex-column align-items-end my-4">
        <button type="submit" class="secondary-button button-medium">{{ button_text }}</button>
        {% if button_notice %}
        <p class="button-notice">{{ button_notice }}</p>
        {% endif %}
    </div>
</form>

<script>
    (function(){
        const form = document.currentScript.previousElementSibling
        {% if payment_needed %}const memberType = "CLAN";{% else %}const memberType = "GOST";{% endif %}
        if (memberType !== "GOST") {
            return; // only send event if guest, member still needs to pay
        }
        form.addEventListener("submit", (e) => {
            if (window.plausible) {
                window.plausible(`registracija_zakljucena_${memberType}`);
            }
            if (window.fbq) {
                window.fbq("trackCustom", `registracija_zakljucena_${memberType}`);
            }
        });
    }());
</script>
