{% load static i18n wagtailcore_tags wagtailimages_tags %}

<footer class="container-fluid color-scheme-white">
    <div class="row mb-xl-5">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12 col-md-6 col-xxl-5">
                    <div class="row">
                        <div class="col-6 col-md-12">
                            <p>
                                {{ settings.home.MetaSettings.organization_name }}<br />
                                {{ settings.home.MetaSettings.organization_address }}<br />
                                {{ settings.home.MetaSettings.organization_postal_number }} {{ settings.home.MetaSettings.organization_post }}<br />
                                {{ settings.home.MetaSettings.organization_country }}<br />
                                <a href="mailto:{{ settings.home.MetaSettings.organization_email }}">{{ settings.home.MetaSettings.organization_email }}</a><br />
                                {{ settings.home.MetaSettings.organization_phone_number }}
                            </p>
                        </div>
                        <div class="col-6 col-md-12">
                            <div class="working-hours">
                                {% for working_hours in settings.home.MetaSettings.organization_working_hours %}
                                <p>
                                    <span>{{ working_hours.value.day }}</span>
                                    <span>{{ working_hours.value.start_time|time:"G" }}-{{ working_hours.value.end_time|time:"G" }}</span>
                                </p>
                                {% endfor %}
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xxl-5">
                    <p>
                        {% for link in settings.home.MetaSettings.footer_links %}
                        <a href="{% if link.value.url %}{{ link.value.url }}{% elif link.value.page %}{% pageurl link.value.page %}{% endif %}">
                            {% if link.value.name %}
                            {{ link.value.name }}
                            {% elif link.value.page %}
                            {{ link.value.page.title }}
                            {% endif %}
                        </a><br />
                        {% endfor %}
                    </p>
                    {% if settings.home.MetaSettings.social_media_links %}
                    <p>
                        sledi nam:<br />
                        {% for link in settings.home.MetaSettings.social_media_links %}
                        <a href="{% if link.value.url %}{{ link.value.url }}{% elif link.value.page %}{% pageurl link.value.page %}{% endif %}" target="_blank">
                            {% if link.value.name %}
                            {{ link.value.name }}
                            {% elif link.value.page %}
                            {{ link.value.page.title }}
                            {% endif %}
                        </a><br />
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <form>
                <div class="form-field-wrapper">
                    <label for="newsletter-input-footer">Input label</label>
                    <input type="text" id="newsletter-input-footer">
                </div>

                <div class="form-field-wrapper one-line rog-check">
                    <input type="checkbox" id="newsletter-checkbox-footer">
                    <label for="newsletter-checkbox-footer">
                        <span>checkbox s tekstom</span>
                    </label>
                </div>

                <div class="my-3">
                    <button type="submit" class="secondary-button button-medium">pošlji</button>
                </div>
            </form>
        </div>
    </div>
    {% if settings.home.MetaSettings.footer_images %}
    <div class="row">
        <div class="col d-flex justify-content-between">
            <div class="footer-logos d-flex">
                {% for img in settings.home.MetaSettings.footer_images %}
                <div class="footer-logo">
                    <p>{{ img.value.description }}</p>
                    {% image img.value.image width-320 class="" alt="..." %}
                </div>
                {% endfor %}
            </div>
            {% if random_image %}
            <div class="random-image d-none d-md-block">
                {% image random_image fill-400x540 class="" alt="..." %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}

</footer>
