<footer class="container-fluid color-scheme-white">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <p>
                        Center Rog<br />
                        Trubarjeva 72<br />
                        1000 Ljubljana<br />
                        Slovenija<br />
                        info@center-rog.si<br />
                        +386 1 251 6301
                    </p>
                </div>
                <div class="col-6">
                    <p>
                        sitemap<br />
                        pogosta vprašanja<br />
                        cenik storitev<br />
                        politika zasebnosti<br />
                        pogoji uporabe
                    </p>
                </div>
                <div class="col-6">
                    <p>
                        Mon-Fri 8-20<br />
                        Sat 8-14<br />
                        Sun 10-18
                    </p>
                </div>
                <div class="col-6">
                    <p>
                        sledi nam:<br />
                        instagram<br />
                        facebook<br />
                        twitter
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <form>
                <label for="newsletter-input-footer">Input label</label>
                <input type="text" id="newsletter-input-footer">

                <label for="newsletter-checkbox-footer">
                    <input type="checkbox" id="newsletter-checkbox-footer">
                    <span>checkbox s tekstom</span>
                </label>

                <div class="my-4">
                    <button type="submit" class="secondary-button button-medium">naprej</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">stiri slikce</div>
    </div>
    
</footer>