{% load static i18n wagtailcore_tags wagtailimages_tags footer_tags %}

<footer class="container-fluid color-scheme-white">
    <div class="row mb-xl-5">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12 col-lg-6 col-xxl-5">
                    <div class="row">
                        <div class="col-12">
                            <p>
                                {{ settings.home.MetaSettings.organization_name }}<br />
                                {{ settings.home.MetaSettings.organization_address }}<br />
                                {{ settings.home.MetaSettings.organization_postal_number }} {{ settings.home.MetaSettings.organization_post }}<br />
                                {{ settings.home.MetaSettings.organization_country }}
                            </p>
                            <p>
                                <a href="mailto:{{ settings.home.MetaSettings.organization_email }}">{{ settings.home.MetaSettings.organization_email }}</a><br />
                                {{ settings.home.MetaSettings.organization_phone_number }}<br />
                                {% if settings.home.MetaSettings.organization_notice %}{{ settings.home.MetaSettings.organization_notice }}{% endif %}
                            </p>
                        </div>
                        <div class="col-12">
                            <div class="working-hours">
                                {% if settings.home.MetaSettings.organization_working_hours_title %}
                                <p>{{ settings.home.MetaSettings.organization_working_hours_title }}</p>
                                {% endif %}
                                {% for working_hours in settings.home.MetaSettings.organization_working_hours %}
                                <p>
                                    <span>{{ working_hours.value.day }}</span>
                                    {% if working_hours.value.start_time and working_hours.value.end_time %}
                                    <span>{{ working_hours.value.start_time|time:"G:i" }} – {{ working_hours.value.end_time|time:"G:i" }}</span>
                                    {% elif working_hours.value.text %}
                                    <span>{{ working_hours.value.text }}</span>
                                    {% endif %}
                                </p>
                                {% endfor %}
                                <br />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="working-hours">
                                {% if settings.home.MetaSettings.labs_working_hours_title %}
                                <p>{{ settings.home.MetaSettings.labs_working_hours_title }}</p>
                                {% endif %}
                                {% for working_hours in settings.home.MetaSettings.labs_working_hours %}
                                <p>
                                    <span>{{ working_hours.value.day }}</span>
                                    {% if working_hours.value.start_time and working_hours.value.end_time %}
                                    <span>{{ working_hours.value.start_time|time:"G:i" }} – {{ working_hours.value.end_time|time:"G:i" }}</span>
                                    {% elif working_hours.value.text %}
                                    <span>{{ working_hours.value.text }}</span>
                                    {% endif %}
                                </p>
                                {% endfor %}
                                <br />
                            </div>
                        </div>
                        {% if settings.home.MetaSettings.holidays_pdf %}
                        <div class="col-12">
                            <div class="working-hours">
                                <p>
                                    <a href="{{ settings.home.MetaSettings.holidays_pdf.url }}">{% translate 'Seznam praznikov' %}</a>
                                </p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xxl-5">
                    <p>
                        {% for link in settings.home.MetaSettings.footer_links %}
                        <a href="{% if link.value.url %}{{ link.value.url }}{% elif link.value.page %}{% pageurl link.value.page.specific %}{% endif %}">{% if link.value.name %}{{ link.value.name }}{% elif link.value.page %}{{ link.value.page.title }}{% endif %}</a><br />
                        {% endfor %}
                    </p>
                    {% if settings.home.MetaSettings.social_media_links %}
                    <p>
                        {% translate 'sledi nam' %}:<br />
                        {% for link in settings.home.MetaSettings.social_media_links %}
                        <a href="{% if link.value.url %}{{ link.value.url }}{% elif link.value.page %}{% pageurl link.value.page.specific %}{% endif %}" target="_blank">{% if link.value.name %}{{ link.value.name }}{% elif link.value.page %}{{ link.value.page.title }}{% endif %}</a><br />
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            {% include "home/includes/mailchimp.html" %}
    </div>
    {% if settings.home.MetaSettings.footer_logos %}
    <div class="row">
        <div class="col d-flex justify-content-between">
            <div class="footer-logos">
                {% for logo in settings.home.MetaSettings.footer_logos %}
                <div class="footer-logo">
                    <p>{{ logo.value.description }}</p>
                    {% image logo.value.image width-320 %}
                </div>
                {% endfor %}
            </div>
            {% get_random_image as random_image %}
            {% if random_image %}
                {% if random_image.is_portrait %}
                    <div class="random-image random-image--portrait d-none d-md-block">
                        {% image random_image fill-400x540 %}
                    </div>
                {% else %}
                    <div class="random-image random-image--landscape d-none d-md-block">
                        {% image random_image fill-540x400 %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endif %}

</footer>
