{% load static i18n wagtailcore_tags wagtail_modeltranslation %}
{% wagtail_site as current_site %}

<div id="logo-navigation">
  <a href="/">
    <img src="{% static 'images/Center-Rog-logo.svg' %}" />
  </a>
</div>
<header class="fixed-top">
  <nav id="primary-navigation" class="position-relative">
    <div id="primary-navigation-background" class="position-absolute"></div>
    <div class="navbar justify-content-end navbar-toggler-container">
      <ul class="navbar-nav flex-row align-items-center">
        <!-- prevodi -->
        <li class="nav-item mx-2">
          {% get_current_language as CURRENT_LANGUAGE %}
          {% get_available_languages as AVAILABLE_LANGUAGES %}
          {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
          {% for language in languages %}
            {% if CURRENT_LANGUAGE != language.code %}
              <a href="{% change_lang language.code page %}" rel="alternate" hreflang="{{ language.code }}" class="nav-link lang-link">
                {% if language.code == 'en' %}
                eng
                {% elif language.code == 'sl' %}
                slo
                {% else %}
                {{ language.name }}
                {% endif %}
              </a>
            {% endif %}
          {% endfor %}
        </li>
        <!-- profile / sign in  -->
        {% if user.is_authenticated %}
        <li class="nav-item mx-2 color-scheme-white">
          <a class="primary-button button-small" href="/profil">Moj profil</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/odjava">Odjava</a>
        </li> -->
        {% else %}
        <li class="nav-item color-scheme-white">
          <a class="primary-button button-small" href="/prijava">prijava</a>
        </li>
        {% endif %}
      </ul>
      <!-- toggler -->
      <button class="navbar-toggler ms-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapsable-menu" aria-controls="navbar-collapsable-menu" aria-expanded="false" aria-label="Toggle navigation">
        <div id="custom-navbar-toggler">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
    </div>
    {% if settings.home.MetaSettings.header_marquee %}
    <div class="header-marquee color-scheme-dark-purple">
      <div class="d-flex align-items-center">
        <span class="header-marquee-text">{{ settings.home.MetaSettings.header_marquee }}</span>
      </div>
    </div>
    <script>
      (() => {
        document.addEventListener("DOMContentLoaded", () => {
          document.querySelectorAll(".header-marquee").forEach((banner) => {
            const content = banner.querySelector(".header-marquee-text");
            if (!content) {
              return;
            }

            let originalText = "";
            if (content.hasAttribute("original-text")) {
              originalText = content.getAttribute("original-text");
            } else {
              content.setAttribute("original-text", content.textContent);
              originalText = content.textContent;
            }
            originalText = originalText.trim() + "&nbsp;";

            const factor = Math.ceil(window.innerWidth / content.offsetWidth);
            content.innerHTML = originalText.repeat(factor);

            const clone = content.parentElement.cloneNode(true);
            clone.classList.add("header-marquee-clone");
            banner.appendChild(clone);

            // Wait for fonts to load before starting the animation otherwise chrome shows a gap sometimes
            document.fonts.ready.then(() => {
              requestAnimationFrame(() => {
                banner.classList.add("spin");
              });
            });
          });
        });
      })();
    </script>
    {% endif %}
    <div class="navbar collapse navbar-collapse position-absolute row justify-content-start align-items-start pt-3" id="navbar-collapsable-menu">
      {% for navigation_link in settings.home.MetaSettings.header_links %}
        {% if forloop.counter0|divisibleby:3 %}
          <ul class="col-3 navbar-nav">
        {% endif %}
            <li class="nav-item">
              <a class="nav-link py-1 {% if request.get_full_path == navigation_link.value.page.url %}active{% endif %}"
                  href="{% if navigation_link.value.url %}{{ navigation_link.value.url }}{% elif navigation_link.value.page %}{% pageurl navigation_link.value.page %}{% endif %}"
                  {% if request.get_full_path == navigation_link.value.page.url %} aria-current="page" {% endif %}>
                {% if navigation_link.value.name %}
                  {{ navigation_link.value.name }}
                {% elif navigation_link.value.page %}
                  {{ navigation_link.value.page.title }}
                {% endif %}
              </a>
            </li>
        {% if forloop.counter|divisibleby:3 %}
          </ul>
        {% endif %}
      {% endfor %}
    </div>
  </nav>
  {% if secondary_navigation %}
  <nav id="secondary-navigation">
    <div class="navbar navbar-expand justify-content-center" id="navbar-collapsable-secondary-menu">
      <ul class="navbar-nav">
        {% for item in secondary_navigation %}
        <li class="nav-item color-scheme-{{ item.color_scheme }} mx-2 {% if item.slug == request.GET.category %}active{% endif %}">
          <a class="nav-link" href="{{ request.path }}{% if item.slug != request.GET.category %}?category={{ item.slug }}{% endif %}">
              {{ item }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  {% endif %}
  {% if page.secondary_navigation %}
  <nav id="secondary-navigation">
    <div class="navbar navbar-expand justify-content-center" id="navbar-collapsable-secondary-menu">
      <ul class="navbar-nav">
        {% for item in page.body %}
        {% if item.value.show_link_in_secondary_menu %}
        <li class="nav-item color-scheme-{{ item.value.color }} mx-2">
          <a class="nav-link" href="#{{ item.value.title|slugify }}">
            {{ item.value.title }}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
  {% endif %}
</header>
