{% load static wagtailcore_tags %}
{% wagtail_site as current_site %}

<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">
        CENTER ROG
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav">
          {% for navigation_link in settings.home.MetaSettings.header_links %}
          <li class="nav-item">
            <a class="nav-link {% if request.get_full_path == navigation_link.value.page.url %}active{% endif %}"
                href="{% if navigation_link.value.url %}{{ navigation_link.value.url }}{% elif navigation_link.value.page %}{% pageurl navigation_link.value.page %}{% endif %}"
                {% if request.get_full_path == navigation_link.value.page.url %} aria-current="page" {% endif %}>
              {% if navigation_link.value.name %}
                {{ navigation_link.value.name }}
              {% elif navigation_link.value.page %}
                {{ navigation_link.value.page.title }}
              {% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
        
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/profil">Moj profil</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/odjava">Odjava</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/prijava">Prijava</a>
          </li>
          {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
