<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <div class="d-flex">
            {% if objects.has_previous %}
            <div class="page-num page-prev">
                <a href="?page={{ objects.previous_page_number }}">
                    <span>▷</span>
                </a>
            </div>
            {% else %}
            <div class="page-num page-prev">
                <span>
                    <span>▷</span>
                </span>
            </div>
            {% endif %}

            {% if objects.number > 2 %}
            <div class="page-num">
                <a href="?page=1">1</a>
            </div>
            {% endif %}

            {% if objects.number > 3 %}
            <div class="page-num">
                <span>...</span>
            </div>
            {% endif %}

            {% if objects.number|add:"-1" > 0 %}
            <div class="page-num">
                <a href="?page={{ objects.number|add:"-1" }}">{{ objects.number|add:"-1" }}</a>
            </div>
            {% endif %}

            <div class="page-num active">
                <a href="?page={{ objects.number }}">{{ objects.number }}</a>
            </div>

            {% if objects.number|add:"1" < objects.paginator.num_pages %}
            <div class="page-num">
                <a href="?page={{ objects.number|add:"1" }}">{{ objects.number|add:"1" }}</a>
            </div>
            {% endif %}

            {% if objects.paginator.num_pages > objects.number|add:"2" %}
            <div class="page-num">
                <span>...</span>
            </div>
            {% endif %}

            {% if objects.number < objects.paginator.num_pages %}
            <div class="page-num">
                <a href="?page={{ objects.paginator.num_pages }}">
                {{ objects.paginator.num_pages }}
                </a>
            </div>
            {% endif %}

            {% if objects.has_next %}
            <div class="page-num page-next">
                <a href="?page={{ objects.next_page_number }}">
                    <span>▷</span>
                </a>
            </div>
            {% else %}
            <div class="page-num page-next">
                <span>
                    <span>▷</span>
                </span>
            </div>
            {% endif %}
        </div>
    </div>
</div>
