{% load static i18n wagtailcore_tags wagtailimages_tags %}

<section class="color-scheme-light-gray see-more-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Poglej še</h2>
      </div>
      {% if event %}
      <div class="col-md-4 col-xxl-3 mb-4 mb-md-0">
        {% include "events/includes/card.html" with event=event %}
      </div>
      {% endif %}
      {% if news %}
      <div class="col-md-4 col-xxl-3 mb-4 mb-md-0">
        {% include "news/includes/card.html" with news=news %}
      </div>
      {% endif %}
      {% if lab %}
      <div class="col-md-4 col-xxl-3 labs-section">
        <a href="{{ lab.get_url }}" class="lab">
          {% image lab.thumbnail original format-png class="img-fluid" alt=lab.title %}
          {% image lab.thumbnail original            class="img-fluid" alt=lab.title %}
          <h6>{{ lab.title }}</h6>
        </a>
      </div>
      {% endif %}
      {% if studio %}
      <div class="d-none d-xxl-block col-xxl-3">
        {% include "home/includes/studio_card.html" with studio=studio %}
      </div>
      {% endif %}
    </div>
  </div>
</section>
