{% load i18n static wagtailcore_tags wagtailimages_tags %}

<div class="card studio-card">
  <div class="card-inner">
    <div class="show-normal flex-column justify-content-between color-scheme-dark-green">
      <div class="card-body">
        <h4 class="card-title text-center">{{ studio.title }}</h4>
      </div>
      <div class="card-img">
        {% image studio.thumbnail width-480 %}
      </div>
    </div>
    <div class="show-hover flex-column justify-content-between color-scheme-dark-green">
      <p>{{ studio.short_description }}</p>
      <div class="text-center">
        <a href="{% pageurl studio %}" class="button-medium secondary-button">{% translate 'obišči studio' %}</a>
      </div>
    </div>
  </div>
</div>
