{% load wagtailimages_tags %}

<div
  class="card news-card {% if news.category %}color-scheme-{{ news.category.color_scheme }}{% endif %}"
>
  {% image news.thumbnail width-200 class="img-fluid card-img-top" alt="..." %}
  <div class="card-body">
    <h6 class="card-subtitle">{{ news.category.name }}</h6>
    <h6 class="card-subtitle mb-2">{{ news.last_published_at }}</h6>
    <h5 class="card-title">{{ news.title }}</h5>
    <!-- <p class="card-text">
      {{ news.short_description }}
    </p> -->
  </div>
</div>
