{% extends "wagtailusers/users/edit.html" %}

{% block extra_fields %}
    <li>{% include "wagtailadmin/shared/field.html" with field=form.prima_id %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.membership %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.address_1 %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.address_2 %}</li>
    <h2>Pravna oseba</h2>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.legal_person_name %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.legal_person_address_1 %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.legal_person_address_2 %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.legal_person_tax_number %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.legal_person_vat %}</li>
    <h2>Uporabniški profil</h2>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.public_profile %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.public_username %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.description %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.link_1 %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.link_2 %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.link_3 %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.contact %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.workshops_attended %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.interests %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.gallery %}</li>
{% endblock extra_fields %}
