{% extends "home/wrapper_page.html" %}
{% load static %}

{% block title %}Plačilo{% endblock %}

{% block body_class %}template-profile{% endblock %}

{% block extra_css %}

{% endblock extra_css %}


{% block extra_js %}
<script>

    function initPayment()  {
        console.log("INIT PAYMENT")
        fetch("/placilo/?wizard=wizard", {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              "X-CSRFTOKEN": "{{ csrf_token }}"
            },
            body: JSON.stringify({
                plan: "{{ plan_id }}"
            })
        })
        .then(data => {
            //handle data
            console.log(data);
            return data.json();
        })
        .then(data => {
            console.log(data);
            window.location.href = data.redirect_url;
        })
    }

    document.addEventListener("DOMContentLoaded", () => {
        initPayment();
    });

</script>
{% endblock extra_js %}

{% block page_body %}

<div class="container payment-notice color-scheme-light-gray">
    <div class="row my-5">
        <div class="col-12">
            <p class="text-center my-5">Poteka preusmeritev na stran za plačilo...</p>
        </div>
    </div>
</div>

{% endblock page_body %}
