{% extends "home/wrapper_page.html" %}
{% load i18n static %}

{% block title %}{% translate 'Plačilo uspešno' %}{% endblock %}

{% block body_class %}template-register{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_js %}
{% endblock extra_js %}

{% block page_body %}

<div class="container register-container color-scheme-light-gray">
    <div class="row justify-content-center max-800">
        <div class="col-12">
            {% if purchase_type == "registration" %}
            <div class="registration-progress">
                <div class="point done"><span>{% translate 'začetek registracije' %}</span></div>
                <div class="point done"><span>{% translate 'izbira članstva' %}</span></div>
                <div class="point done"><span>{% translate 'osnovni podatki' %}</span></div>
                <div class="point done"><span>{% translate 'osebni profil' %}</span></div>
                <div class="point active done"><span>{% translate 'plačilo' %}</span></div>
            </div>
            {% elif purchase_type == "plan" %}
            <div class="registration-progress">
                <div class="point done"><span>{% translate 'izbira uporabnine' %}</span></div>
                <div class="point active done"><span>{% translate 'plačilo' %}</span></div>
            </div>
            {% elif purchase_type == "membership" %}
            <div class="registration-progress">
                <div class="point done"><span>{% translate 'izbira članarine' %}</span></div>
                <div class="point active done"><span>{% translate 'plačilo' %}</span></div>
            </div>
            {% else %}
            <div class="registration-progress">
                <div class="point done"><span>{% translate 'začetek prijave' %}</span></div>
                <div class="point done"><span>{% translate 'dodatno' %}</span></div>
                <div class="point active done"><span>{% translate 'plačilo' %}</span></div>
            </div>
            {% endif %}
            {% if purchase_type == "registration" %}
            <h4 class="my-5">{% translate 'Plačilo je uspelo, postali ste član_ica Centra Rog. Na vašo e-pošto smo vam poslali potrditveno sporočilo.' %}</h4>
            {% elif purchase_type == "event" %}
            <h4 class="my-5">{% translate 'Plačilo je uspelo. Prijavljeni ste na dogodek. Na vašo e-pošto smo vam poslali potrditveno sporočilo.' %}</h4>
            <h4 class="my-5"> {{ event.category.first }}: {{ event.title }} <br /> {{ event.start_day }} </h4>
            {% else %}
            <h4 class="my-5">{% translate 'Plačilo je bilo uspešno!' %}</h4>
            {% endif %}
            <div class="text-end">
                <a href="/profil" class="button-medium secondary-button">{% translate 'na profil' %}</a>
            </div>
        </div>

    </div>

</div>

<script>
    (function(){
        {% if purchase_type == "membership" %}let purchaseMembership = true;{% else %}let purchaseMembership = null;{% endif %}
        if (!purchaseMembership) {
            return; // only send event if membership purchase
        }
        window.afterAnalytics = window.afterAnalytics || [];
        window.afterAnalytics.push(() => {
            if (window.plausible) {
                window.plausible("registracija_zakljucena_CLAN");
            }
            if (window.fbq) {
                window.fbq("trackCustom", "registracija_zakljucena_CLAN");
            }
        });
    }());
</script>

{% endblock page_body %}
