{% extends "home/wrapper_page.html" %}
{% load i18n static %}

{% block title %}{% translate 'Plačilo' %}{% endblock %}

{% block body_class %}template-profile{% endblock %}

{% block extra_css %}

{% endblock extra_css %}


{% block extra_js %}
<script>

    function initPayment()  {
        console.log("INIT PAYMENT");
        const queryString = window.location.search;
        console.log(queryString);
        const urlParams = new URLSearchParams(queryString);
        console.log(urlParams);
        const purchase_type = urlParams.get('purchase_type')
        console.log(purchase_type);

        {% if free_order %}
            window.location.href = "{% url 'payment-success' %}?purchase_type=" + purchase_type;
        {% else %}

        var url = "/placilo/izvedi/";
        fetch(url, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              "X-CSRFTOKEN": "{{ csrf_token }}"
            },
            body: JSON.stringify({
                id: "{{ id }}",
                purchase_type: purchase_type
            })
        })
        .then(data => {
            //handle data
            console.log(data);
            return data.json();
        })
        .then(data => {
            console.log(data);
            window.location.href = data.redirect_url;
        })
        {% endif %}
    }

    document.addEventListener("DOMContentLoaded", () => {
        initPayment();
    });

</script>
{% endblock extra_js %}

{% block page_body %}

<div class="container payment-notice color-scheme-light-gray">
    <div class="row my-5">
        <div class="col-12">
            <p class="text-center my-5">{% translate 'Poteka preusmeritev na stran za plačilo...' %}</p>
        </div>
    </div>
</div>

{% endblock page_body %}
