{% extends "registration/registration_wrapper.html" %}
{% load i18n static %}

{% block title %}{% translate 'Registracija' %}{% endblock %}

{% block body_class %}template-register{% endblock %}

{% block form_title %}
<h4 class="my-5">{% translate 'Plačilo je uspelo, postali ste član_ica Centra Rog. Na vašo e-pošto smo vam poslali potrditveno sporočilo.' %}</h4>
<div class="text-end">
    <a href="{% url 'profile-my' %}" class="button-medium secondary-button">{% translate 'na profil' %}</a>
</div>
{% endblock form_title %}
