{% extends "home/wrapper_page.html" %}
{% load i18n static percentage %}

{% block title %}{% translate 'Povzetek plačila' %}{% endblock %}

{% block extra_js %}
<script>
    document.getElementById("apply-promo-code").addEventListener("click", () => {
        const code = document.getElementById("promo-code-input").value
        console.log(code)
    })
</script>
{% endblock extra_js %}

{% block body_class %}template-register{% endblock %}

{% block page_body %}
<div class="container register-container color-scheme-light-gray">
    <div class="row justify-content-center">
        <div class="col-md-10 col-xxl-6">
            {% if registration %}
            <div class="registration-progress">
                <div class="point done"><span>{% translate 'začetek registracije' %}</span></div>
                <div class="point done"><span>{% translate 'izbira članstva' %}</span></div>
                <div class="point done"><span>{% translate 'osnovni podatki' %}</span></div>
                <div class="point done"><span>{% translate 'osebni profil' %}</span></div>
                <div class="point active"><span>{% translate 'plačilo' %}</span></div>
            </div>
            {% else %}
            <div class="registration-progress">
                <div class="point done"><span>{% translate 'izbira uporabnine' %}</span></div>
                <div class="point active"><span>{% translate 'plačilo' %}</span></div>
            </div>
            {% endif %}
            <h1>{% translate 'Za plačilo' %}</h1>
        </div>

        <div class="col-md-10 col-xxl-6 payment-preview">

            {% for item in payment.payment_plans.all %}
                <div class="line d-flex justify-content-between">
                    <div class="name">{{ item.plan.name }}</div>
                    <div class="price">€{{ item.price }}</div>
                </div>
                {% if item.promo_code %}
                <div class="line d-flex justify-content-between">
                    <div class="name">{{ item.promo_code }}</div>
                    <div class="price">- €{{ item.price|percentage:item.promo_code.percent_discount }}</div>
                </div>
                {% endif %}
            {% endfor %}

            <div class="sum-line d-flex justify-content-between">
                <div class="name">{% translate 'skupaj' %}</div>
                <div class="price">€{{ payment.amount }}</div>
            </div>

            <form action="" method="post">
                {% csrf_token %}

                <div class="row mt-4">
                    <div class="form-field-wrapper col-6">
                        <label>{% translate 'Vnesi kodo za popust' %}</label>
                        <div class="d-flex align-items-center">
                            {{ promo_code_form.payment_id.as_hidden }}
                            {{ promo_code_form.registration.as_hidden }}
                            {{ promo_code_form.promo_code }}
                            <button type="submit" class="secondary-button button-small">{% translate 'pošlji' %}</button>
                        </div>
                        {% if promo_code_error %}
                        <p class="my-2">{% translate 'Vnešena koda ni veljavna.' %}</p>
                        {% endif %}
                        {% if promo_code_success %}
                        <p class="my-2">{% translate 'Koda je sprejeta!' %}</p>
                        {% endif %}
                    </div>
                </div>
            </form>

            <div class="row mt-4">
                <div class="d-flex flex-column align-items-end my-4">
                    <a href="/placilo/izvedi/?id={{payment.id}}" class="primary-button button-medium">{% translate 'naprej' %}</a>
                    <p class="button-notice">{% translate '*preusmerjeni boste na spletno stran našega ponudnika za plačila bankart' %}</p>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock page_body %}
