{% extends 'emails/base.html' %}

{% block body %}

    <p>
        Živijo!
    </p>
    <p>
        Obveščamo te, da je tvoje članstvo v Centru Rog poteklo. Ker prinaša mnoge ugodnosti in popuste, predlagamo, da ga čim prej podaljšaš s plačilom članarine.
    </p>
    <p>
        Več informacij o ugodnostih, ki jih prinaša članstvo in možnost podaljšanja, je na voljo <a href="https://rog.lb.djnd.si/postani-clan/">TUKAJ</a>.
    </p>
    <p>
        Za dodatna pojasnila nam lahko pišeš na info@center-rog.si ali nas pokličeš na telefonsko številko, ki je objavljena na spletni strani.
    </p>
    <p>
        Lep pozdrav,
    </p>
    <p>
        Ekipa Centra Rog
    </p>

{% endblock body %}
