{% extends 'emails/base.html' %}

{% block body %}

    <p>
        Živijo!
    </p>
    <p>
        Obveščamo te, da bo dne {{ event.start_day }} ob {{ event.start_time }} v prostorih Centra Rog v {% for lab in event.labs.all %} {{ lab.title }} {% endfor %} potekal {{ event.title }}.
    </p>
    <p>
        Več informacij o dogodku najdeš na <a href="{{ event.full_url }}">spletni strani</a>.
    </p>
    <p>
        Lep pozdrav,
    </p>
    <p>
        Ekipa Centra Rog
    </p>

{% endblock body %}
