// Set Bootstrap variables here.
// This file is included before Bootstrap is compiled.

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px
) !default;

$container-max-widths: (
  sm: 430px,
  md: 700px,
  lg: 799px,
  xl: 800px,
  xxl: 1320px
);

// color scheme variables
$cs-brown: #5E2610;
$cs-beige: #E9D4BB;
$cs-beige-gray: #D7DBD0;
$cs-light-gray: #E0E6EE;
$cs-dark-gray: #3B4352;
$cs-light-blue: #0081ED;
$cs-dark-blue: #1C1463;
$cs-light-green: #DBDBAB;
$cs-dark-green: #096533;
$cs-light-purple: #F0EEFB;
$cs-dark-purple: #8141FF;
$cs-red: #A50000;
$cs-orange: #F04F20;
$cs-pink: #FFD3DF;
$cs-yellow: #FFF9A9;
$cs-white: #FFFFFF;
$cs-black: #000000;
$cs-disabled: #BFBFBF;
$cs-focus-green: #07D907;

// font-sizes
$xxs-font-size: 15px;
$xs-font-size: 20px;
$sm-font-size: 25px;
$md-font-size: 30px;
$lg-font-size: 40px;
$xl-font-size: 50px;
$xxl-font-size: 60px;

// font families
$font-family-rog: "ROGEdition-60";
$font-family-rog-italic: "ROGEdition-60";

$font-family-rog-bold: "ROGEdition-70";
$font-family-rog-bold-italic: "ROGEdition-70";

$font-family-rog-bolder: "ROGEdition-80";
$font-family-rog-bolder-italic: "ROGEdition-80";

$font-family-rog-boldest: "ROGEdition-100";
$font-family-rog-boldest-italic: "ROGEdition-100";

// cards
$card-border-radius: 0;

// $body-color: #000;
// $font-family-sans-serif: 'Comfortaa', sans-serif;
// $headings-font-family: 'Okolaks WebFont', serif;
// $headings-font-weight: 700;
// $body-bg: $light;

// $border-radius: 0;
// $btn-border-width: 2px;

// $input-border-color: #000;
// $input-border-width: 2px;
// $input-bg: transparent;
// $input-focus-border-color: $blue;
// $input-focus-box-shadow: 0 0 0 .25rem rgba($input-focus-border-color, .25);
// $input-font-size: 1.25rem;
// $input-padding-y: 0.5rem;
// $input-padding-x: 1rem;

// $form-check-input-width: 2rem;
// $form-check-min-height: $form-check-input-width;
// $form-check-padding-start: $form-check-input-width + 0.75rem;
// $form-check-margin-bottom: .25rem;

// $form-check-input-border: $input-border-width solid $input-border-color;
// $form-check-input-border-radius: 0;
// $form-check-input-focus-border: $input-focus-border-color;
// $form-check-input-focus-box-shadow: $input-focus-box-shadow;

// $form-check-input-checked-color: $green;
// $form-check-input-checked-bg-color: $input-bg;
// $form-check-input-checked-border-color: $input-border-color;

// $link-color: #000;
// $link-hover-color: #000;

// $table-border-width: 2px;
// $table-border-color: #000;

// $grid-gutter-width: 2rem;

// @import "bootstrap/scss/functions";
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/mixins";

// $form-validation-states: map-remove($form-validation-states, "valid");
