// Set Bootstrap variables here.
// This file is included before Bootstrap is compiled.

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px,
  xxxl: 1980px,
) !default;

$container-max-widths: (
  sm: 430px,
  md: 700px,
  lg: 799px,
  xl: 920px,
  xxl: 1320px
);

// color scheme variables
$cs-brown: #5E2610;
$cs-beige: #E9D4BB;
$cs-beige-gray: #D7DBD0;
$cs-light-gray: #E0E6EE;
$cs-dark-gray: #3B4352;
$cs-light-blue: #0081ED;
$cs-dark-blue: #1C1463;
$cs-light-green: #DBDBAB;
$cs-dark-green: #096533;
$cs-light-purple: #F0EEFB;
$cs-dark-purple: #8141FF;
$cs-red: #A50000;
$cs-orange: #F04F20;
$cs-pink: #FFD3DF;
$cs-yellow: #FFF9A9;
$cs-white: #FFFFFF;
$cs-black: #000000;
$cs-disabled: #BFBFBF;
$cs-focus-green: #07D907;

// cards
$card-border-radius: 0;
