/* COLOR SCHEMES */

.color-scheme-brown,
.color-scheme-brown:hover {
    background-color: $cs-brown;
    color: $cs-pink;

    .primary-button {
        background-color: $cs-yellow;
        border-color: $cs-yellow;
        color: $cs-dark-gray;
    }

    .secondary-button {
        border-color: $cs-brown;
    }
}

.color-scheme-light-blue,
.color-scheme-light-blue:hover {
    background-color: $cs-light-blue;
    color: $cs-yellow;

    .primary-button {
        background-color: $cs-yellow;
        border-color: $cs-yellow;
        color: $cs-dark-gray;
    }

    .secondary-button {
        border-color: $cs-yellow;
    }
}

.color-scheme-dark-gray,
.color-scheme-dark-gray:hover {
    background-color: $cs-dark-gray;
    color: $cs-light-gray;

    .primary-button {
        background-color: $cs-yellow;
        border-color: $cs-yellow;
        color: $cs-dark-gray;
    }

    .secondary-button {
        border-color: $cs-light-gray;
    }
}

.color-scheme-purple,
.color-scheme-purple:hover {
    background-color: $cs-purple;
    color: $cs-light-green;

    .primary-button {
        background-color: $cs-yellow;
        border-color: $cs-yellow;
        color: $cs-dark-gray;
    }

    .secondary-button {
        border-color: $cs-light-green;
    }
}

.color-scheme-red,
.color-scheme-red:hover {
    background-color: $cs-red;
    color: $cs-yellow;

    .primary-button {
        background-color: $cs-yellow;
        border-color: $cs-yellow;
        color: $cs-dark-gray;
    }

    .secondary-button {
        border-color: $cs-yellow;
    }
}

.color-scheme-orange,
.color-scheme-orange:hover {
    background-color: $cs-orange;
    color: $cs-white;

    .primary-button {
        background-color: $cs-light-blue;
        border-color: $cs-light-blue;
        color: $cs-white;
    }

    .secondary-button {
        border-color: $cs-white;
    }
}

.color-scheme-dark-blue,
.color-scheme-dark-blue:hover {
    background-color: $cs-dark-blue;
    color: $cs-light-green;

    .primary-button {
        background-color: $cs-yellow;
        border-color: $cs-yellow;
        color: $cs-dark-gray;
    }

    .secondary-button {
        border-color: $cs-light-green;
    }
}

.color-scheme-light-green,
.color-scheme-light-green:hover {
    background-color: $cs-light-green;
    color: $cs-dark-blue;

    .primary-button {
        background-color: $cs-light-blue;
        border-color: $cs-light-blue;
        color: $cs-white;
    }

    .secondary-button {
        border-color: $cs-dark-blue;
    }
}

.color-scheme-dark-green,
.color-scheme-dark-green:hover {
    background-color: $cs-dark-green;
    color: $cs-yellow;

    .primary-button {
        background-color: $cs-yellow;
        border-color: $cs-yellow;
        color: $cs-dark-gray;
    }

    .secondary-button {
        border-color: $cs-yellow;
    }
}

.color-scheme-pink,
.color-scheme-pink:hover {
    background-color: $cs-pink;
    color: $cs-brown;

    .primary-button {
        background-color: $cs-light-blue;
        border-color: $cs-light-blue;
        color: $cs-white;
    }

    .secondary-button {
        border-color: $cs-brown;
    }
}

.color-scheme-light-gray,
.color-scheme-light-gray:hover {
    background-color: $cs-light-gray;
    color: $cs-dark-gray;

    .primary-button {
        background-color: $cs-light-blue;
        border-color: $cs-light-blue;
        color: $cs-white;
    }

    .secondary-button {
        border-color: $cs-dark-gray;
    }
}

.color-scheme-yellow,
.color-scheme-yellow:hover {
    background-color: $cs-yellow;
    color: $cs-dark-green;

    .primary-button {
        background-color: $cs-light-blue;
        border-color: $cs-light-blue;
        color: $cs-white;
    }

    .secondary-button {
        border-color: $cs-dark-green;
    }
}

.color-scheme-white,
.color-scheme-white:hover {
    background-color: $cs-white;
    color: $cs-dark-gray;

    .primary-button {
        background-color: $cs-light-blue;
        border-color: $cs-light-blue;
        color: $cs-white;
    }

    .secondary-button {
        border-color: $cs-dark-gray;
    }
}
