/* COLOR SCHEMES */

@mixin primary-button-yellow() {
    .primary-button {
        background-color: $cs-yellow;
        color: $cs-dark-gray;

        &:active {
            color: $cs-light-blue;
        }
    }
}

@mixin primary-button-blue() {
    .primary-button {
        background-color: $cs-light-blue;
        color: $cs-white;

        &:active {
            color: $cs-yellow;
        }
    }
}

@mixin primary-button-red() {
    .primary-button {
        background-color: $cs-red;
        color: $cs-white;

        &:active {
            color: $cs-yellow;
        }
    }
}

@mixin primary-button-purple() {
    .primary-button {
        background-color: $cs-dark-purple;
        color: $cs-white;

        &:active {
            color: $cs-yellow;
        }
    }
}

@mixin secondary-button($secondary-scheme-color) {
    .secondary-button {
        border-color: $secondary-scheme-color;   
    }
}

@mixin link($secondary-scheme-color) {
    a.link,
    button.link,
    .link {
        color: $secondary-scheme-color;
    }
}

/* LIGHT COLORS */

.color-scheme-white {
    background-color: $cs-white;
    color: $cs-dark-gray;

    @include primary-button-blue();
    @include secondary-button($cs-dark-gray);
    @include link($cs-dark-gray);
}

.color-scheme-light-gray {
    background-color: $cs-light-gray;
    color: $cs-dark-gray;

    @include primary-button-blue();
    @include secondary-button($cs-dark-gray);
    @include link($cs-dark-gray);
}

.color-scheme-light-green {
    background-color: $cs-light-green;
    color: $cs-dark-blue;

    @include primary-button-blue();
    @include secondary-button($cs-dark-blue);
    @include link($cs-dark-blue);
}

.color-scheme-pink {
    background-color: $cs-pink;
    color: $cs-brown;

    @include primary-button-blue();
    @include secondary-button($cs-brown);
    @include link($cs-brown);
}

.color-scheme-yellow {
    background-color: $cs-yellow;
    color: $cs-dark-green;

    @include primary-button-blue();
    @include secondary-button($cs-dark-green);
    @include link($cs-dark-green);
}

.color-scheme-light-purple {
    background-color: $cs-light-purple;
    color: $cs-red;

    @include primary-button-red();
    @include secondary-button($cs-red);
    @include link($cs-red);
}

.color-scheme-beige {
    background-color: $cs-beige;
    color: $cs-dark-purple;

    @include primary-button-blue();
    @include secondary-button($cs-dark-purple);
    @include link($cs-dark-purple);
}

.color-scheme-beige-gray {
    background-color: $cs-beige-gray;
    color: $cs-dark-purple;

    @include primary-button-purple();
    @include secondary-button($cs-dark-purple);
    @include link($cs-dark-purple);
}

/* --- */

/* DARK COLORS */

.color-scheme-brown {
    background-color: $cs-brown;
    color: $cs-pink;

    @include primary-button-yellow();
    @include secondary-button($cs-pink);
    @include link($cs-pink);
}

.color-scheme-light-blue {
    background-color: $cs-light-blue;
    color: $cs-yellow;

    @include primary-button-yellow();
    @include secondary-button($cs-yellow);
    @include link($cs-yellow);
}

.color-scheme-dark-gray {
    background-color: $cs-dark-gray;
    color: $cs-light-gray;

    @include primary-button-yellow();
    @include secondary-button($cs-light-gray);
    @include link($cs-light-gray);
}

.color-scheme-dark-purple {
    background-color: $cs-dark-purple;
    color: $cs-light-green;

    @include primary-button-yellow();
    @include secondary-button($cs-light-green);
    @include link($cs-light-green);
}

.color-scheme-red {
    background-color: $cs-red;
    color: $cs-yellow;

    @include primary-button-yellow();
    @include secondary-button($cs-yellow);
    @include link($cs-yellow);
}

.color-scheme-orange {
    background-color: $cs-orange;
    color: $cs-white;

    @include primary-button-blue();
    @include secondary-button($cs-white);
    @include link($cs-white);
}

.color-scheme-dark-blue {
    background-color: $cs-dark-blue;
    color: $cs-light-green;

    @include primary-button-yellow();
    @include secondary-button($cs-light-green);
    @include link($cs-light-green);
}

.color-scheme-dark-green {
    background-color: $cs-dark-green;
    color: $cs-yellow;

    @include primary-button-yellow();
    @include secondary-button($cs-yellow);
    @include link($cs-yellow);
}

/* --- */
