footer.container-fluid {
    padding: 30px;

    p {
        @include font-size-sm();

        a {
            font-size: inherit;

            @include underline-text-on-hover();
        }
    }

    form {
        .secondary-button {
            border-color: $cs-dark-gray;
        }

        a {
            font-size: inherit;

            @include underline-text-on-hover();
        }
    }

    .working-hours {
        max-width: fit-content;

        p {
            margin-bottom: 0;
            display: flex;
            justify-content: space-between;

            span:first-of-type {
                padding-right: 16px;
            }
        }
    }

    // .form-field-wrapper {
    //     @include media-breakpoint-up(xl) {
    //         padding-right: 35px;
    //     }
    // }

    .footer-logos {
        display: grid;
        gap: 20px;
        
        grid-template-columns: 1fr 1fr 1fr 1fr;
        @include media-breakpoint-down(md) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }

    .footer-logo {
        max-width: 160px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // margin-bottom: 20px;

        // &:nth-child(odd) {
        //     margin-right: 20px;
        // }

        // @include media-breakpoint-up(md) {
        //     margin-right: 50px !important;
        //     margin-bottom: 0;
        // }

        p {
            @include font-size-xs();
            margin-bottom: 5px;
        }

        img {
            max-width: 100%;
            object-fit: contain;
            max-height: 125px;
            height: auto;
        }

        @include media-breakpoint-up(md) {
            max-width: 100px;
        }

        @include media-breakpoint-up(xl) {
            max-width: 160px;
        }
    }

    .random-image {
        overflow: hidden;

        &,
        &.random-image--portrait {
            width: 200px;
            height: 270px;
        }

        &.random-image--landscape {
            width: 270px;
            height: 200px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}
