@mixin prepare-for-underlined-text() {
  text-decoration: none;
  border-bottom: 0.0625em solid transparent;
  padding-bottom: 0.0625em;
}

@mixin underline-text() {
  border-bottom-color: currentColor;
}

@mixin underline-text-on-hover() {
  @include prepare-for-underlined-text();

  &:hover {
    @include underline-text();
  }
}

@mixin underline-text-not-on-hover() {
  @include prepare-for-underlined-text();

  &:not(:hover) {
    @include underline-text();
  }
}
