/* PRIMARY NAVIGATION */

#logo-navigation {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 999999;
    mix-blend-mode: difference;

    @include media-breakpoint-down(sm) {
        top: 5px;
        left: 5px;
    }

    a {
        display: inline-block;

        img {
            width: 140px;
            height: auto;
            transform: rotate(1deg);
            transition: transform 0.35s;

            @include media-breakpoint-down(md) {
                width: 120px;
            }
        }
    }

    &.custom-navigation-show {
        img {
            transform: rotate(-10deg);
        }

        &+header {
            #primary-navigation {
                @include media-breakpoint-down(sm) {
                    height: 100vh;

                    .header-marquee {
                        display: none;
                    }
                }
            }
        }
    }
}

#primary-navigation {

    #primary-navigation-background {
        clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 0%);
        height: 140px;
        width: 100%;
        background-color: #FFFFFF;
    }

    @include media-breakpoint-down(md) {
        #primary-navigation-background {
            clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 85%);
        }
    }

    @include media-breakpoint-up(md) {
        #primary-navigation-background {
            transition: clip-path 0.35s;
        }
    }

    .navbar-toggler-container {
        position: relative;
        padding: 10px 24px;
        // z-index: 999999; // to ne sme bit tako, ker potem se ne da klikat na gumbe v navigaciji
        @include media-breakpoint-down(md) {
            padding: 25px 5px;
        }
    }

    .navbar-toggler {
        border: 0;

        &:focus {
            border: 0;
            box-shadow: none;
        }
    }

    .nav-link {
        color: $cs-dark-gray;
        padding: 4px;
        @include font-size-sm();

        &.lang-link {
            margin-right: 0.7rem;
            @include font-size-xs();
        }

        &:hover {
            color: $cs-light-blue;
        }
    }

    @include media-breakpoint-down(sm) {
        .nav-link {
            @include font-size-lg();
            padding: 0;
            margin-bottom: 5px;
        }

        .nav-link.lang-link {
            @include font-size-md();
            padding: 0;
            margin-bottom: 20px;
        }

        .primary-button {
            margin-top: 15px;
        }
    }

    #custom-navbar-toggler {
        width: 35px;
        height: 20px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;

        span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: $cs-dark-gray;
            border-radius: 3px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0px;
            }

            &:nth-child(2) {
                top: 9px;
            }

            &:nth-child(3) {
                top: 18px;
            }
        }
    }

    #navbar-collapsable-menu {
        top: 0;
        left: 50%;
        opacity: 0;
        width: 100%;

        @include media-breakpoint-up(md) {
            transform: translateX(-50%) translateY(-30px) rotate(3.56deg);
            transform-origin: bottom right;
            transition: all 0.35s ease;
        }

        &.collapse:not(.show) {
            display: flex;
            visibility: hidden;
        }

        &.collapsing {
            height: unset;
            overflow: unset;

            @include media-breakpoint-down(sm) {
                transition: none;
            }
        }

        // a {
        //     @include font-size-sm();
        // }

        @include media-breakpoint-up(xl) {
            width: 800px;
        }

        @include media-breakpoint-up(xxl) {}

    }

    &.custom-navigation-show {

        #primary-navigation-background {
            clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);

            @include media-breakpoint-down(md) {
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
                height: 100vh;
            }
        }

        #custom-navbar-toggler {
            span:nth-child(1) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            span:nth-child(2),
            span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
                top: 24px;
            }
        }

        #navbar-collapsable-menu {
            transform: translateX(-50%) rotate(0deg);
            opacity: 1;

            @include media-breakpoint-down(sm) {
                &>.container {
                    width: 50%;
                }
            }

            @include media-breakpoint-down(md) {
                left: 0;
                right: 0;
                width: auto;
                top: 150px;
                bottom: 20px;
                transform: none;
                margin-inline: 8px;
                align-content: space-between;

                > ul {
                    flex: 1;
                    margin: 0;
                }
            }
        }
    }
    
    .random-image {
        max-width: 50%;
    }
}

#secondary-navigation,
.header-marquee {
    position: absolute;
    top: -2px;
    left: -10px;
    width: calc(100% + 20px);
    z-index: 99999;
    transform-origin: top left;
    transform: rotate(0deg);
    opacity: 0;

    &.shown {
        opacity: 1;
        @include media-breakpoint-up(md) {
            transition: transform 0.35s ease, top 0.35s ease;
        }
    }
}

#secondary-navigation {
    background: $cs-light-gray;

    // .navbar {
    //     padding-block: 16px;
    // }

    .nav-item {
        border-radius: 3px;

        .nav-link {
            border-radius: 3px;
            color: inherit;
            @include font-size-xs();
            position: relative;
            cursor: pointer;
        }

        .nav-link:hover,
        &.active .nav-link {
            box-shadow: 1px 1px 5px 0px rgba(255, 255, 255, 0.60) inset, -1px -2px 4px 0px rgba(0, 0, 0, 0.65) inset;
        }

        &.active .nav-link::after {
            content: "";
            display: block;
            position: absolute;
            inset: -8px 4px -8px 4px;
            border: 2px solid $cs-dark-gray;
            border-radius: 50%;
            filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.50));
        }

        .nav-link:focus-visible {
            outline: 0;
            box-shadow: 0 0 0 2px $cs-focus-green;
        }
    }
}

@keyframes spin {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.header-marquee {
    overflow: hidden;
    height: 32px;

    &.spin > div {
        animation: spin 30s linear infinite;
    }

    & > div {
        position: absolute;
        min-width: 100%;
        height: 100%;
        white-space: nowrap;

        &:last-child {
            transform: translateX(100%);
            animation-delay: -15s;
        }
    }

    .header-marquee-text {
        display: inline;
    }
}

.scroll-anchor {
    position: relative;
    top: -100px;
}
