.register-container {
    margin-top: 100px;
    margin-bottom: 60px;

    @include media-breakpoint-down(sm) {
        padding-left: 25px;
        padding-right: 25px;
    }

    p, a:not(.button-small, .button-medium, .button-large) {
        @include font-size-xs();
    }

    .mail-confirmation {
        @include font-size-sm();

        a {
            @include font-size-sm();
            color: $cs-dark-gray;
        }
    }

    a {
        @include underline-text-on-hover();
    }

    .registration-progress {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 50px 50px 20px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            border-top: 1.5px solid $cs-dark-gray;
            width: calc(100% - 6px);
            left: 3px;
        }

        .point {
            position: relative;
            width: 20px;
            height: 20px;
            border: 1.5px solid $cs-dark-gray;
            background-color: $cs-light-gray;
            border-radius: 50%;
            text-align: center;
            color: $cs-dark-gray;
            z-index: 2;

            span {
                position: absolute;
                top: -50px;
                left: 50%;
                transform: translateX(-50%);

                display: flex;
                align-items: center;
                min-height: 32px;

                @include font-size-xs();
                opacity: 50%;
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }

            &.active {
                background-color: $cs-dark-gray;

                span {
                    opacity: 100%;
                    @include media-breakpoint-down(sm) {
                        display: block;
                    }
                }
            }

            &.done {
                background-color: $cs-dark-gray;
            }
        }
    }

    h1 {
        @include font-size-md();
        margin-top: 40px;
        margin-bottom: 20px;
    }

    h2 {
        @include font-size-md();
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .payment-preview {
        .name {
            @include font-size-xs();
        }

        .line,
        .sum-line {
            padding: 20px 0;
            border-bottom: 0.5px solid $cs-dark-gray;

            .price {
                @include font-size-sm();
            }
        }

        .sum-line {
            border-top: 1px solid $cs-dark-gray;
            border-bottom: 1.5px solid $cs-dark-gray;

            .price {
                @include font-size-lg();
            }
        }
    }

    .button-notice {
        max-width: 215px;
        margin-top: 5px;
        margin-bottom: 0;
    }

    .input-error input {
        border-color: $cs-red;
    }

    .input-success input {
        border-color: $cs-dark-green;
    }
}

#legal-information-wrapper {
    margin-top: 30px;
}
