.register-container {
    margin-top: 100px;
    margin-bottom: 60px;

    p, a {
        @include font-size-xs();
    }

    a {
        @include underline-text-on-hover();
    }

    .registration-progress {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 50px 50px 20px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            border-top: 1.5px solid $cs-dark-gray;
            width: calc(100% - 6px);
            left: 3px;
        }

        .point {
            position: relative;
            width: 20px;
            height: 20px;
            border: 1.5px solid $cs-dark-gray;
            background-color: $cs-light-gray;
            border-radius: 50%;
            text-align: center;
            color: $cs-dark-gray;
            z-index: 2;

            span {
                position: absolute;
                top: -50px;
                transform: translateX(-50%);
                @include font-size-xs();
                opacity: 50%;
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }

            &.active {
                background-color: $cs-dark-gray;
                
                span {
                    opacity: 100%;
                    @include media-breakpoint-down(sm) {
                        display: block;
                    }
                }
            }

            &.done {
                background-color: $cs-dark-gray;
            }
        }
    }

    h1 {
        @include font-size-md();
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .user-purchase-plan .radio-square {
        h3 {
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 0;

            &.price {
                @include font-size-lg();
                margin-bottom: 10px;
            }
            &.small {
                font-size: 12px;
                line-height: 1.2;
                margin-top: 15px;
                margin-bottom: 10px;
            }
        }

        hr {
            margin: 0;
            border-bottom: 1.5px solid $cs-dark-gray;
            border-top: none;
            opacity: 1;
        }

        ul {
            margin-top: 15px;
            list-style: none;
            padding-left: 0;

            li {
                padding-left: 1.5rem;
                position: relative;

                &::before {
                    position: absolute;
                    top: 0.2em;
                    left: 0;
                    content: "\25CF";
                    line-height: 1;
                }
            }
        }

    }

    .payment-preview {
        .line,
        .sum-line {
            padding: 20px 0;
            border-bottom: 0.5px solid $cs-dark-gray;

            .price {
                @include font-size-sm();
            }
        }

        .sum-line {
            border-top: 1px solid $cs-dark-gray;
            border-bottom: 1.5px solid $cs-dark-gray;

            .price {
                @include font-size-lg();
            }
        }
    }

    button + .button-notice {
        max-width: 215px;
        margin-top: 5px;
        margin-bottom: 0;
    }
}

#legal-information-wrapper {
    margin-top: 30px;

    &.hide {
        display: none;
    }
}

#other-gender-wrapper {
    &.hide {
        display: none;
    }
}
