{% extends 'emails/base.html' %}
{% block body %}
    <p>
        Živijo!
    </p>
    <p>
        Zahvaljujemo se ti za registracijo in se veselimo tvojega obiska v Centru Rog!
    </p>
    <p>
        Če si postal_a tudi naš_a član_ica in plačal_a letno članarino, te obveščamo,
        da bo ta <b>januarja 2024 avtomatično podaljšana do konca leta 2024</b>.
    </p>
        Do konca leta 2023 bomo v Centru Rog postopoma zagnali naše proizvodne delavnice,
        kar pomeni, da vse še ne bodo polno operativne. Iz tega razloga je ves naš program
        do konca decembra na voljo brezplačno. Program dejavnosti, na katere se lahko
        prijaviš, je na voljo <a href="https://center-rog.si/program/">TUKAJ</a>. Po novem
        letu pa bodo prijave možne direktno v uporabniškem računu.
    </p>
    <p>
        Za dodatna pojasnila nam lahko pišeš na
        <a href="info@center-rog.si">info@center-rog.si</a> ali nas pokličeš na
        telefonsko številko, ki je objavljena na spletni strani.
    </p>
    <p>
        Se vidimo!
    </p>
    <p>
        Ekipa Centra Rog
    </p>
{% endblock body %}
