{% extends 'emails/base.html' %}
{% block body %}
    <p>
        Živijo!
    </p>
    <p>
        Zahvaljujemo se ti za registracijo in se veselimo tvojega obiska v Centru Rog! Če
        si postal_a tudi naš_a član_ica in plačal_a letno članarino, <b>ti pripada eno
        brezplačno usposabljanje v naših proizvodnih labih, popusti za vse naše
        vodene delavnice, tečaje in izobraževanja, popust v trgovini Centra Rog
        ter vrsta drugih ugodnosti.
        </b>
    </p>
    <p>
        Če si se registriral_a kot gost_ja, imaš še vedno čas, da se tudi včlaniš!
    </p>
    <p>
        Več informacij o popustih in ugodnostih, ki jih prinaša članstvo, je na voljo <a href="https://rog.lb.djnd.si/postani-clan/">TUKAJ</a>.
    </p>
    <p>
        Za dodatna pojasnila nam lahko pišeš na info@center-rog.si ali nas pokličeš na
        telefonsko številko, ki je objavljena na spletni strani.<br><br>
    </p>
    <p>
        Lep pozdrav,
    </p>
    <p>
        Ekipa Centra Rog
    </p>
{% endblock body %}
