{% extends 'emails/base.html' %}
{% block body %}
    <p>
        Živijo!
    </p>
    <p>
        Zahvaljujemo se ti za registracijo in se veselimo tvojega obiska!
    </p>
    <p>
        Center Rog lahko obiščeš kot gost, <strong>lahko pa postaneš naš član oziroma članica in izkoristiš številne ugodnosti</strong>. Vse naše vodene programe lahko obiskuješ po znižanih cenah, članarina ti omogoča nakup uporabniškega paketa, v okviru katerega se lahko prijaviš na odprte termine, vsem članom in članicam pa podarjamo tudi eno brezplačno usposabljanje za strojno opremo v izbranem proizvodnem laboratoriju.
    </p>
    <p>
        Več o članstvu in ugodnostih, ki jih to prinaša, si lahko prebereš <a href="https://center-rog.si/postani-clan/">TUKAJ</a>.
    </p>
    <p>
        Za dodatna pojasnila nam piši na <a href="mailto:info@center-rog.si">info@center-rog.si</a> ali nas pokliči na telefonsko številko, ki je objavljena na spletni strani.
    </p>
    <p>
        Se vidimo!
    </p>
    <p>
        Ekipa Centra Rog
    </p>
{% endblock body %}
