{% extends "home/wrapper_page.html" %}
{% load i18n static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-profile template-event-page{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block page_body %}

<div class="container object-profile-container event-page-container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">
                {{ page.title }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="contact-information color-scheme-white">
                <span class="pin"></span>
                <span class="pin"></span>
                <span class="pin"></span>
                <span class="pin"></span>
                <span class="pin"></span>
                <div class="notice">
                    {% if page.start_day and page.end_day %}
                    <p>
                        <small>{% translate 'začetek' %}</small><br>
                        {{ page.start_day|date:"j. n. Y" }}<br>
                        <small>{% translate 'konec' %}</small><br>
                        {{ page.end_day|date:"j. n. Y" }}
                    </p>
                    {% elif page.start_day %}
                    <p>
                        <small>{{ page.start_day|date:"l" }}</small><br>
                        {{ page.start_day|date:"j. n. Y" }}
                    </p>
                    {% endif %}
                    <p>
                        <span>{{ page.start_time }}</span> - <span>{{ page.end_time }}</span>
                    </p>
                    <p>{{ page.location }}</p>
                    <!-- <button class="primary-button button-small">Prijava na dogodek</button> -->
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7">
            {% image page.hero_image original class="hero-image" alt="..." %}
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12 intro-text">
            <p>{{ page.short_description }}</p>
        </div>
    </div> -->

    {% if page.body %}
    <div class="row">
        <div class="col-12 rich-text-page">
            <div class="max-800">
                {{ page.body|richtext }}
            </div>
        </div>
    </div>
    {% endif %}

</div>

{% endblock page_body %}
