{% extends "home/wrapper_page.html" %}
{% load i18n static %}

{% block title %}{% translate 'Prijava na dogodek' %}{% endblock %}

{% block body_class %}template-register{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_js %}
{% endblock extra_js %}

{% block page_body %}

<div class="container register-container color-scheme-light-gray">

    <div class="row justify-content-center">

        <div class="col-md-10 col-xxl-6">

            <div class="registration-progress">
                <div class="point {% if not registration_step %} active{% elif registration_step > 0 %} done{% endif %}"><span>{% translate 'začetek prijave' %}</span></div>
                <div class="point {% if registration_step == 1 %} active{% elif registration_step > 1 %} done{% endif %}"><span>{% translate 'morebitne posebnosti' %}</span></div>
                {% if event.price > 0 %}
                <div class="point {% if registration_step == 3 %} active{% elif registration_step > 3 %} done{% endif %}"><span>{% translate 'plačilo' %}</span></div>
                {% endif %}
            </div>

            {% block form_title %}
            {% endblock form_title %}

            {% block form_block %}
            {% endblock form_block %}

        </div>

    </div>

</div>

{% endblock page_body %}
