{% extends "home/object_archive_list_page.html" %}
{% load static %}

{% block list_page_body %}
<div class="row events-list-archive">
    <div class="col-12">
        {% for element in list %}
        <a href="{{ element.url }}" class="color-scheme-{{ element.category.color_scheme }} list-element d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
            <div>
                <p>{{ element.category.name }}</p>
                <p>{{ element }}</p>
            </div>
            <p>{{ element.start_day }}</p>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock list_page_body %}