{% extends "events/event_registration_wrapper.html" %}
{% load static i18n %}

{% block title %}{% translate 'Prijava na dogodek' %}{% endblock %}

{% block body_class %}template-register{% endblock %}

{% block extra_js %}
<script>
    const user_form = document.getElementById("user_form");
    const children_formset = document.getElementById("children_formset");
    const extra_people_formset = document.getElementById("extra_people_formset");
    const total_forms = document.getElementById("id_form-TOTAL_FORMS");
    const add_child_button = document.getElementById("add-child-button");
    const add_extra_person_button = document.getElementById("add-extra-person-button");

    function on_add_click(person_type) {
        const person_forms = document.querySelectorAll(`.${person_type}-form`);
        const visible_person_forms = Array.from(person_forms).filter(form => !form.classList.contains("hide"));

        const new_empty_form = document.getElementById("empty-form").cloneNode(true);
        new_empty_form.setAttribute("class", `${person_type}-form`);
        new_empty_form.setAttribute("id", `form-${person_forms.length}`);
        const prefixRegex = new RegExp("__prefix__", "g");
        const prefixPlus1Regex = new RegExp("__prefix1__", "g");
        new_empty_form.innerHTML = new_empty_form.innerHTML.replace(prefixRegex, person_forms.length);
        new_empty_form.innerHTML = new_empty_form.innerHTML.replace(prefixPlus1Regex, visible_person_forms.length + 1);

        if (person_type === 'child') {
            children_formset.append(new_empty_form);
        } else if (person_type === 'extra-person') {
            extra_people_formset.append(new_empty_form);
        }

        const new_person_forms = document.querySelectorAll(`.${person_type}-form`);

        total_forms.setAttribute("value", new_person_forms.length);

        const new_visible_person_forms = Array.from(new_person_forms).filter(form => !form.classList.contains("hide"));
        if (new_visible_person_forms.length >= 3) {
            if (person_type === 'child') {
                add_child_button.classList.add("hide")
            } else if (person_type === 'extra-person') {
                add_extra_person_button.classList.add("hide")
            }
        }

        fix_form_index_displays(person_type);
    }

    if (add_child_button) {
        add_child_button.addEventListener("click", () => on_add_click('child'));
        const new_person_forms = document.querySelectorAll(`.child-form`);
        const visible_person_forms = Array.from(new_person_forms).filter(form => !form.classList.contains("hide"));
        if (visible_person_forms.length >= 3) {
            add_child_button.classList.add("hide")
        }
    }

    if (add_extra_person_button) {
        add_extra_person_button.addEventListener("click", () => on_add_click('extra-person'));
        const new_person_forms = document.querySelectorAll(`.extra-person-form`);
        const visible_person_forms = Array.from(new_person_forms).filter(form => !form.classList.contains("hide"));
        if (visible_person_forms.length >= 3) {
            add_extra_person_button.classList.add("hide")
        }
    }

    function remove_form(person_type, delete_form_id) {
        const delete_id_input = document.getElementById(delete_form_id);
        delete_id_input.checked = true;
        delete_id_input.closest(`.${person_type}-form`).classList.add("hide");

        const new_person_forms = document.querySelectorAll(`.${person_type}-form`);

        total_forms.setAttribute("value", new_person_forms.length);

        const visible_person_forms = Array.from(new_person_forms).filter(form => !form.classList.contains("hide"));
        if (visible_person_forms.length < 3) {
            if (person_type === 'child') {
                add_child_button.classList.remove("hide")
            } else if (person_type === 'extra-person') {
                add_extra_person_button.classList.remove("hide")
            }
        }

        fix_form_index_displays(person_type);
    }

    function fix_form_index_displays(person_type) {
        const person_forms = document.querySelectorAll(`.${person_type}-form`);
        const visible_person_forms = Array.from(person_forms).filter(form => !form.classList.contains("hide"));
        visible_person_forms.forEach((form, index) => {
            form.querySelector(`.${person_type}-num-display`).textContent = index + 1;
        });
    }

    document.addEventListener('change', (event) => {
        const parentRow = event.target.closest(".registration-gender-row");
        if (parentRow && event.target.tagName === "INPUT" && event.target.type === "radio") {
            const rog_radios = parentRow.querySelector(".rog-radios");
            const other_gender_wrapper = parentRow.querySelector(".other-gender-wrapper");

            if (event.target.value === "O") {
                other_gender_wrapper.classList.remove("hide");
            } else {
                other_gender_wrapper.classList.add("hide");
            }
        }
    });
</script>
{% endblock %}

{% block form_title %}
<h1>{{ event.categories.first }}: {{ event.title }}<br/>{{ event.start_day }}</h1>
{% endblock form_title %}

{% block form_block %}

<form action="{% url 'event-registration' event.slug %}" autocomplete="off" method="post">
    {% csrf_token %}

    <!-- <div class="form-field-wrapper one-line rog-check mb-4">
        {{ form.register_child_check.errors }}
        {{ form.register_child_check }} {{ form.register_child_check.label_tag }}
    </div> -->

    {% if not event.event_is_for_children %}
    <div id="user_form">
        <div class="form-field-wrapper {% if form.name.errors %}form-field-error{% endif %}">
            {{ form.name.label_tag }} {{ form.name }}
            {% if form.name.errors %}
            {{ form.name.errors }}
            {% endif %}
        </div>

        <div class="form-field-wrapper {% if form.surname.errors %}form-field-error{% endif %}">
            {{ form.surname.label_tag }} {{ form.surname }}
            {% if form.surname.errors %}
            {{ form.surname.errors }}
            {% endif %}
        </div>

        <div class="form-field-wrapper {% if form.phone.errors %}form-field-error{% endif %}">
            {{ form.phone.label_tag }} {{ form.phone }}
            {% if form.phone.errors %}
            {{ form.phone.errors }}
            {% endif %}
        </div>
    </div>

    <div id="extra_people_formset">

        {{ extra_people_formset.management_form }}

        {% for form in extra_people_formset %}
            <div id="form-{{ forloop.counter0 }}" class="extra-person-form{% if form.DELETE.value %} hide{% endif %}">
                {% include "events/includes/event_registration_extra_person_form.html" with form=form extra_person_num=forloop.counter0 %}
            </div>
        {% endfor %}

        {% for error in extra_people_formset.non_form_errors %}
        <div class="error my-3">
            {{ error }}
        </div>
        {% endfor %}

        {% if extra_people_formset_error %}
        <div class="error my-3">
            {{ extra_people_formset_error }}
        </div>
        {% endif %}

        <div id="empty-form" class="hide">
            {% include "events/includes/event_registration_extra_person_form.html" with form=extra_people_formset.empty_form %}
        </div>

    </div>

    <button id="add-extra-person-button" class="link-plus px-0" type="button"><span>{% translate 'dodaj še eno osebo' %}</span> +</button>

    {% else %}

    <div id="children_formset">

        {{ children_formset.management_form }}

        {% for form in children_formset %}
            <div id="form-{{ forloop.counter0 }}" class="child-form{% if form.DELETE.value %} hide{% endif %}">
                {% include "events/includes/event_registration_child_form.html" with form=form child_num=forloop.counter0 %}
            </div>
        {% endfor %}

        {% for error in children_formset.non_form_errors %}
        <div class="error my-3">
            {{ error }}
        </div>
        {% endfor %}

        {% if children_formset_error %}
        <div class="error my-3">
            {{ children_formset_error }}
        </div>
        {% endif %}

        <div id="empty-form" class="hide">
            {% include "events/includes/event_registration_child_form.html" with form=children_formset.empty_form %}
        </div>

    </div>

    <button id="add-child-button" class="link-plus px-0" type="button"><span>{% translate 'dodaj še enega otroka' %}</span> +</button>

    {% endif %}

    <div class="d-flex justify-content-end my-4">
        <button type="submit" class="secondary-button button-medium">{% translate 'naprej' %}</button>
    </div>
</form>

{% endblock form_block %}
