{% extends "events/event_registration_wrapper.html" %}
{% load static i18n %}

{% block title %}{% translate 'Prijava na dogodek' %}{% endblock %}

{% block body_class %}template-register{% endblock %}

{% block form_title %}
<h1>{{ event.category }}: {{ event.title }}<br />{{ event.start_day }}</h1>
{% endblock form_title %}

{% block form_block %}

<form action="{% url 'event-registration-additional' event.slug %}" autocomplete="off" method="post">
    {% csrf_token %}

    <div class="form-field-wrapper {% if form.disabilities.errors %}form-field-error{% endif %}">
        {{ form.disabilities.label_tag }} {{ form.disabilities }}
        {% if form.disabilities.errors %}
        {{ form.disabilities.errors }}
        {% endif %}
    </div>

    <div class="form-field-wrapper {% if form.allergies.errors %}form-field-error{% endif %}">
        {{ form.allergies.label_tag }} {{ form.allergies }}
        {% if form.allergies.errors %}
        {{ form.allergies.errors }}
        {% endif %}
    </div>

    <div class="d-flex justify-content-end my-4">
        <button type="submit" class="secondary-button button-medium">{% translate 'naprej' %}</button>
    </div>
</form>

{% endblock form_block %}