{% extends "events/event_registration_wrapper.html" %}
{% load static i18n %}

{% block title %}{% translate 'Prijava na dogodek' %}{% endblock %}

{% block body_class %}template-register{% endblock %}

{% block form_title %}
<h1>{{ event.categories.first }}: {{ event.title }}<br />{{ event.start_day }}</h1>
{% endblock form_title %}

{% block form_block %}

<form action="{% url 'event-registration-additional' event.slug %}" enctype="multipart/form-data" autocomplete="off" method="post">
    {% csrf_token %}

    {% for field in form %}
    <div class="form-field-wrapper widget-{{ field.widget_type }}{% if field.errors %} form-field-error{% endif %}">
        {{ field.label_tag }} {{ field }}
        {% if field.errors %}
        {{ field.errors }}
        {% endif %}
    </div>
    {% empty %}
    <p>{% translate "Ni dodatnih vprašanj." %}</p>
    {% endfor %}

    <div class="d-flex justify-content-end my-4">
        <button type="submit" class="secondary-button button-medium">{% translate 'naprej' %}</button>
    </div>
</form>

<script>
    (function(){
        const form = document.currentScript.previousElementSibling
        form.addEventListener("submit", (e) => {
            if (window.plausible) {
                window.plausible("zakljucena_prijava_na_dogodek");
            }
            if (window.fbq) {
                window.fbq("trackCustom", "zakljucena_prijava_na_dogodek");
            }
        });
    }());
</script>

{% endblock form_block %}
