{% extends "home/wrapper_page.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-profile template-news-page{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block page_body %}

{% comment %} {% if page.hero_image %}
{% image page.hero_image original as hero_image %}
<section style="background-image: url({{ hero_image.url }})" class="container-fluid image-embed px-4 px-md-0"></section>
{% endif %} {% endcomment %}

<div class="container object-profile-container news-page-profile-container">
    <div class="row">
        <div class="col-12 max-800">
            <h1 class="text-center">
                {{ page.title }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="information max-800">
                <span>{{ page.category.name }}</span>
                <span>{{ page.first_published_at|date:"j. n. Y" }}</span>
            </div>
        </div>
        {% if page.hero_image %}
        <div class="col-12">
            <div class="mt-4 max-800">
                {% image page.hero_image original class="d-block w-100 img-fluid" %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12 intro-text">
            <p class="max-800">{{ page.short_description }}</p>
        </div>
    </div>

    {% if page.body %}
    <div class="row">
        <div class="col-12 rich-text-page">
            <div class="max-800">
                {{ page.body|richtext }}
            </div>
        </div>
    </div>
    {% endif %}

    {% if page.gallery %}
    <div class="container">
        <div class="row mt-30">
            <div class="col-12">
                <div class="custom-gallery">
                    <div class="custom-gallery-content">
                        <button type="button" class="custom-gallery-navigation prev" tabindex="0"></button>
                        <ul class="custom-gallery-list">
                            {% for element in page.gallery %}
                            <li class="custom-gallery-item">
                                <div class="custom-gallery-image">
                                    {% image element.value.image original %}
                                </div>
                                <div class="custom-gallery-caption">
                                    <div class="max-800">
                                    {{ element.value.image_description }}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="custom-gallery-navigation next" tabindex="0"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>

{% if page.show_see_more_section %}
{% block profile_page_see_more %}
{% include "home/includes/see_more.html" %}
{% endblock profile_page_see_more %}
{% endif %}

{% endblock page_body %}
