{% extends "home/wrapper_page.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-profile template-news-page{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block page_body %}

{% if page.hero_image %}
{% image page.hero_image original as hero_image %}
<section style="background-image: url({{ hero_image.url }})" class="container-fluid image-embed px-4 px-md-0"></section>
{% endif %}

<div class="container object-profile-container news-page-profile-container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">
                {{ page.title }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="information">
                <span>{{ page.category.name }}</span>
                <span>{{ page.first_published_at|date:"j. n. Y" }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 intro-text">
            <p>{{ page.short_description }}</p>
        </div>
    </div>

    {% if page.body %}
    <div class="row">
        <div class="col-12 rich-text-page">
            {{ page.body|richtext }}
        </div>
    </div>
    {% endif %}

</div>


{% endblock page_body %}
