{% load i18n %}

<h4>{% translate 'Otrok' %} {{ child_num }}</h4>
<div>
    <button class="link-plus px-0 small" type="button" onclick="hide_form('{{ form.DELETE.auto_id }}')"><span>{% translate 'odstrani osebo' %}</span></button>
</div>

{% for field in form.hidden_fields %}
{{ field }}
{% endfor %}

<div class="hide">
    {{ form.DELETE }}
</div>

<div class="form-field-wrapper {% if form.child_name.errors %}form-field-error{% endif %}">
    {{ form.child_name.label_tag }} {{ form.child_name }}
    {% if form.child_name.errors %}
    {{ form.child_name.errors }}
    {% endif %}
</div>

<div class="form-field-wrapper {% if form.child_surname.errors %}form-field-error{% endif %}">
    {{ form.child_surname.label_tag }} {{ form.child_surname }}
    {% if form.child_surname.errors %}
    {{ form.child_surname.errors }}
    {% endif %}
</div>

<div class="form-field-wrapper {% if form.parent_phone.errors %}form-field-error{% endif %}">
    {{ form.parent_phone.label_tag }} {{ form.parent_phone }}
    {% if form.parent_phone.errors %}
    {{ form.parent_phone.errors }}
    {% endif %}
</div>

<div class="form-field-wrapper">
    {{ form.birth_date.label_tag }} {{ form.birth_date }}
    {% if form.birth_date.errors %}
    <p class="error">{{ form.birth_date.errors }}</p>
    {% endif %}
</div>

<div class="registration-gender-row">

    <div class="form-field-wrapper rog-radios">
        {{ form.gender.label_tag }} {{ form.gender }}
        {% if form.gender.errors %}
        <p class="error">{{ form.gender.errors }}</p>
        {% endif %}
    </div>

    <div class="form-field-wrapper other-gender-wrapper hide">
        {{ form.gender_other.label_tag }} {{ form.gender_other }}
        {% if form.gender_other.errors %}
        <p class="error">{{ form.gender_other.errors }}</p>
        {% endif %}
    </div>

</div>

