/* Always show the original block type in admin (even when collapsing) */
.w-panel__heading .c-sf-block__title {
  display: none !important;
}
.w-panel__heading .c-sf-block__type {
  display: inline !important;
}

/* Fix displayed tags in admin/images index view */
.image-search fieldset.tagfilter legend {
  float: none;
  width: 100%;
  padding-inline-end: 0;
  visibility: hidden;
  position: relative;
}
.image-search fieldset.tagfilter legend::after {
  content: "Oznake:";
  display: block;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
}
.image-search fieldset.tagfilter .button {
  margin-inline-start: 0;
}

.c-memberships-table {
  width: 100%;
  table-layout: fixed;
}
.c-memberships-table tr {
  border-bottom: 1px solid var(--w-color-grey-100);
}
.c-memberships-table th,
.c-memberships-table td {
  padding: 0.5rem 0.5em 0.5em 0;
  text-align: left;
  vertical-align: top;
  font-size: .875rem;
}
.c-memberships-table th {
  padding-top: 0;
  color: var(--w-color-primary);
  font-weight: 500;
}
