anyascii==0.3.2
asgiref==3.7.2
backports.zoneinfo==0.2.1;python_version<"3.9"
beautifulsoup4==4.11.2
boto3==1.28.44
botocore==1.31.44
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.1.11
django-cors-headers==4.1.0
django-filter==23.3
django-jsonify==0.3.0
django-modelcluster==6.1
django-modeltranslation==0.18.11
django-permissionedforms==0.1
django-storages==1.14
django-taggit==3.1.0
django-treebeard==4.7
django-wkhtmltopdf==3.4.0
djangorestframework==3.14.0
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
html5lib==1.1
idna==3.4
jmespath==1.0.1
l18n==2021.3
openpyxl==3.1.2
Pillow==9.5.0
psycopg2==2.9.5
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.28.2
s3transfer==0.6.2
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
telepath==0.3.1
typing_extensions==4.7.1
urllib3==1.26.16
wagtail==5.2
wagtail-autocomplete==0.11.0
wagtail-modeladmin==2.0.0
wagtail-modeltranslation==0.14.2
wagtailmedia==0.14.2
Wand==0.6.11
webencodings==0.5.1
Willow==1.6.3
xmltodict==0.13.0
sentry-sdk[django]
wagtail-rangefilter