{% extends "home/wrapper_page.html" %}
{% load i18n static %}

{% block title %}{% translate 'Uredi profil' %}{% endblock %}

{% block body_class %}template-profile{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block page_body %}

<div class="container user-profile-container color-scheme-light-gray">

    <div class="row">
        <div class="col-12">
            <h1 class="text-center">{% translate 'Uredi profil:' %}</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <h2>{% translate 'Izpolni podatke za osebni profil:' %}</h2>
            {% include "home/includes/edit_profile_form.html" with button_text=_("shrani") %}
        </div>
    </div>
</div>

{% endblock page_body %}
