{% extends "home/wrapper_page.html" %}
{% load wagtailcore_tags static i18n %}

{% block title %}{% translate 'Odjava' %}{% endblock %}

{% block body_class %}template-logout{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block page_body %}

<div class="container register-container color-scheme-light-gray">
    <div class="row justify-content-center">
        <div class="col-md-10 col-xxl-6">
            <div>
                <h3>{% translate 'Se vidimo!' %}</h3>
                <div>
                    <a href="{% url 'login' %}">{% translate 'Ponovna prijava' %}</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock page_body %}
