{% extends "home/wrapper_page.html" %}
{% load static i18n %}

{% block title %}{% translate 'Login' %}{% endblock %}

{% block body_class %}template-login{% endblock %}

{% block page_body %}

<div class="container register-container color-scheme-light-gray">

    <div class="row justify-content-center">

        <div class="col-md-10 col-xxl-6">

            <h1>Prijavi se:</h1>

            {% if form.errors %}
                <p class="alert alert-danger" role="alert">Uporabniško ime in geslo se ne ujemata.</p>
            {% endif %}

            <form method="post" action="{% url 'login' %}" autocomplete="off">
                {% csrf_token %}

                <div class="form-field-wrapper">
                    <label for="id_username" class="form-label">{{ form.username.label_tag }}</label>
                    <input type="email" name="username" required id="id_username" class="form-control">
                </div>

                <div class="form-field-wrapper">
                    <label for="id_password" class="form-label">{{ form.password.label_tag }}</label>
                    <input type="password" name="password" required id="id_password" class="form-control">
                </div>

                <div class="row mt-4">
                    <div class="col-6">
                        <div class="mb-1"><a href="{% url 'password_reset' %}">Pozabljeno geslo?</a></div>
                        <div class="mb-1"><a href="/registracija/">Registriraj se</a></div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex justify-content-end mb-4">
                            <button type="submit" class="secondary-button button-medium">naprej</button>
                        </div>
                    </div>
                </div>

            </form>

        </div>

    </div>

</div>

{% endblock page_body %}
