{% extends "home/wrapper_page.html" %}
{% load static i18n %}

{% block title %}{% translate 'Ponastavitev gesla' %}{% endblock %}

{% block body_class %}request-reset-password{% endblock %}

{% block page_body %}

<div class="container register-container color-scheme-light-gray">

    <div class="row justify-content-center">

        <div class="col-md-10 col-xxl-6">

            <p>{% translate "Vaše geslo je nastavljeno. Zdaj se lahko prijavite." %}</p>

            <p><a href="{{ login_url }}">{% translate 'Prijavi se' %}</a></p>

        </div>

    </div>

</div>

{% endblock page_body %}
