
{% extends 'emails/base.html' %}
{% load i18n %}
{% block body %}

    <p>
        Živijo!
    </p>
    <p>
        Prejeli smo zahtevo za spremembo gesla za tvoj uporabniški račun. Če želiš geslo 
        ponovno nastaviti, obišči povezavo {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}.
    </p>
    <p>
        Lep pozdrav,</br>
        Ekipa Centra Rog
    </p>
    <p>
        Sporočilo je bilo poslano samodejno. Prosimo, da nanj ne odgovarjaš. V primeru 
        težav se obrni na info@center-rog.si.
    </p>

{% endblock %}
