
{% extends "home/wrapper_page.html" %}
{% load static i18n %}

{% block title %}{% translate 'Confirm reset password' %}{% endblock %}

{% block body_class %}request-reset-password{% endblock %}

{% block extra_css %}
<style>
    .hidden {
        display: none;
    }
</style>

{% endblock extra_css %}

{% block page_body %}

<div class="container register-container color-scheme-light-gray">

    <div class="row justify-content-center">

        <div class="col-md-10 col-xxl-6">

            <h1>{% translate 'Nastavite novo geslo' %}</h1>

            <p>{% translate 'Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

            <form method="post">{% csrf_token %}
                <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">

                {{ form.new_password1.errors }}
                <div class="form-field-wrapper">
                    {{ form.email.errors }}
                    <label for="id_new_password1">{% translate 'New password:' %}</label>
                    {{ form.new_password1 }}
                </div>

                {{ form.new_password2.errors }}
                <div class="form-field-wrapper">
                    {{ form.email.errors }}
                    <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
                    {{ form.new_password2 }}
                </div>

                <div class="row mt-4">
                    <div class="col-12">
                        <div class="d-flex mb-4">
                            <button type="submit" class="secondary-button button-medium">{% translate 'Spremeni geslo' %}</button>
                        </div>
                    </div>
                </div>

            </form>

        </div>

    </div>

</div>

{% endblock page_body %}
