{% extends "home/wrapper_page.html" %}
{% load static %}

{% block title %}Moj profil{% endblock %}

{% block body_class %}template-profile{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block page_body %}

<div class="container user-profile-container">

    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Živjo, {{ user.first_name }}!</h1>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-6">
            <p class="mb-1">denarnica</p>
            <section class="color-scheme-light-blue d-flex flex-column justify-content-between wallet">
                <div class="">
                    <p>točke na računu</p>
                    <p class="balance">1000</p> <!-- {{ user_balance }} -->
                </div>
                <div>
                    <div>
                        <button class="secondary-button button-medium">dodaj sredstva</button>
                    </div>
                    <p>
                        <a href="">pretekla poraba</a>
                    </p>
                </div>
            </section>
        </div>

        <div class="col-6">
            <p class="mb-1">članstvo</p>
            <section class="color-scheme-light-blue d-flex flex-column justify-content-between membership">
                <div class="">
                    <h6>{{ user_type }}</h6>
                    <p class="subtitle">
                        Članarina se avtomatsko obnovi: <br />
                        {{ obnovitev_clanarine }}
                    </p>
                    <p class="mb-2">
                        <a href="/profil/uredi" class="secondary-button button-small">uredi profil</a>
                    </p>
                    <p class="mb-2">
                        <a href="/odjava" class="secondary-button button-small">odjava</a>
                    </p>
                </div>
                <div>
                    <a href="/profil/isci" class="primary-button button-medium">poišči druge uporabnike</a>
                </div>
            </section>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-12">
            <p class="mb-1">tvoji prihajajoči dogodki</p>
            <div class="">PRIHAJAJOČI DOGODKI</div>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-12">
            <p class="mb-1">tvoji prihajajoči dogodki</p>
            <div class="layout-content-body calendar-embed">
                <iframe id="iframe_booking" style="width: 100%; height: 100%; border: none; display:block;" src="https://centerrog.primacloud.si/app/booking/index.html?location=2&amp;picker=1&amp;ulagtoken={{ ulagtoken }}&amp;x=1"></iframe>
            </div>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-12">
            <p class="mb-1">nabor opravljenih usposabljanj</p>
            <div class="">OPRAVLJENA USPOSABLJANJA</div>
        </div>
    </div>

</div>

{% endblock page_body %}
