{% extends "home/wrapper_page.html" %}
{% load i18n static %}

{% block title %}Moj profil{% endblock %}

{% block body_class %}template-profile{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block page_body %}

<div class="container user-profile-container">

    <div class="row">
        <div class="col-12">
            <h1 class="text-center">{% translate 'Živjo,' %} {{ user.first_name }}!</h1>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-12 col-lg-4 pb-3">
            <section class="color-scheme-light-blue d-flex flex-column justify-content-between membership">
                <div>
                    <p class="mb-1">{% translate 'tip članstva' %}</p>
                    <h6>{{ user.membership.type }}</h6>
                    <p class="subtitle">
                        {% translate 'veljavnost članarine do:' %} <br />
                        {{ obnovitev_clanarine|date:"j. n. Y" }}
                    </p>
                </div>
                <div>
                    <a href="{% url 'profile-purchase' %}" class="secondary-button button-medium">{% translate 'uredi članstvo' %}</a>
                </div>
            </section>
        </div>

        <div class="col-12 col-lg-4 pb-3">
            <section class="color-scheme-light-blue d-flex flex-column justify-content-between wallet">
                <div>
                    <p class="mb-1">{% translate 'zakupljen paket uporabnine' %}</p>
                    <h6>{{ user.get_active_subscription_plan.name }}</h6>
                    <p class="subtitle">
                        {% translate 'veljavnost paketa do:' %} <br />
                        {{ user.get_active_subscription.active_to|date:"j. n. Y" }}
                    </p>
                </div>
                <div>
                    <a href="{% url 'profile-purchase' %}" class="secondary-button button-medium">{% translate 'izberi uporabnino' %}</a>
                </div>
            </section>
        </div>

        <div class="col-12 col-lg-4 pb-3">
            <section class="color-scheme-light-blue d-flex flex-column justify-content-between wallet">
                <div>
                    <p>
                        <a class="link" href="{% url 'history' %}">
                            <span class="link-text">{% translate 'pretekla poraba' %}</span>
                            <span class="link-icon"></span>
                        </a>
                    </p>
                    <p>
                        <a class="link" href="{% url 'profile-edit' %}">
                            <span class="link-text">{% translate 'uredi profil' %}</span>
                            <span class="link-icon"></span>
                        </a>
                    </p>
                    <p>
                        <a class="link" href="/profil/{{ user.id }}">
                            <span class="link-text">{% translate 'poglej svoj profil' %}</span>
                            <span class="link-icon"></span>
                        </a>
                    </p>
                    <p class="mb-2">
                        <a class="link" href="{% url 'logout' %}">
                            <span class="link-text">{% translate 'odjava' %}</span>
                            <span class="link-icon"></span>
                        </a>
                    </p>
                </div>
                <div class="d-flex align-items-end justify-content-between">
                    <div>
                        <a href="{% url 'profile-search' %}" class="secondary-button button-medium">{% translate 'drugi uporabniki' %}</a>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- <div class="row my-4">
        <div class="col-12">
            <p class="mb-1">{% translate 'tvoji prihajajoči dogodki' %}</p>
            <div class="">{% translate 'PRIHAJAJOČI DOGODKI' %}</div>
        </div>
    </div> -->

    <div class="row my-4">
        <div class="col-12">
            <p class="mb-1">{% translate 'tvoji prihajajoči dogodki' %}</p>
            <div class="layout-content-body calendar-embed">
                <iframe id="iframe_booking" style="width: 100%; height: 100%; border: none; display:block;" src="https://centerrog.primacloud.si/app/booking/index.html?{% if location_id %}location={{location_id}}{% elif group_id %}group={{group_id}}{% endif %}&amp;picker=1&amp;ulagtoken={{ ulagtoken }}&amp;x=1"></iframe>
            </div>
        </div>
    </div>

    {% if user.workshops_attended.all %}
    <div class="row my-4">
        <div class="col-12">
            <p class="mb-1">{% translate 'nabor opravljenih usposabljanj' %}</p>
            {% for workshop in user.workshops_attended.all %}
            <div class="color-scheme-dark-green workshop mb-2">
                <p>{% translate 'Usposabljanje' %}</p>
                <p>{{ workshop }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock page_body %}
