{% extends "home/wrapper_page.html" %}
{% load static %}

{% block title %}Moj profil{% endblock %}

{% block body_class %}template-profile{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block page_body %}

<div class="container user-profile-container">

    <div class="row">
        <div class="col-12">
            <h1>Živjo, {{ user.first_name }}!</h1>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-12">
            <h2>Denarnica</h2>
            <p>Ure, ki jih še imate ta mesec: {{ user_balance }}</p>
            <button class="btn btn-primary">zakupi nov mesec</button>
            <button class="btn btn-primary">pretekla poraba</button>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-12">
            <h2>Članstvo</h2>
            <p>Tip članarine: {{ user_type }}</p>
            <p>Članarina se avtomatsko obnovi: {{ obnovitev_clanarine }}</p>
            <a href="/profil/uredi" class="btn btn-primary">Uredi profil</a>
            <a href="/odjava" class="btn btn-primary">Odjava</a>
            <a href="/profil/isci" class="btn btn-primary">Poišči druge uporabnike</a>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-12">
            <h2>Tvoji prihajajoči dogodki (SEZNAM)</h2>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-12">
            <h2>Tvoji prihajajoči dogodki (IFRAME)</h2>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-12">
            <h2>Nabor opravljenih usposabljanj</h2>
        </div>
    </div>

</div>

{% endblock page_body %}
