{% extends "registration/registration_wrapper.html" %}
{% load i18n static %}

{% block title %}{% translate 'Registracija' %}{% endblock %}

{% block body_class %}template-register{% endblock %}

{% block form_title %}
<h1>{% translate 'Izberi tip članstva:' %}</h1>
{% endblock form_title %}

{% block form_block %}

<form action="{% url 'registration-membership' %}" method="post" class="user-purchase-plan">
    {% csrf_token %}
    <div class="row justify-content-center radio-square-wrapper">

        <!-- {{ form.type }} -->
        {% for membership_type in membership_types %}
        <div class="col-12 col-md-6 mb-4">
            <input type="radio" name="type" value="{{ membership_type.id }}" required="" id="id_type_{{ membership_type.id }}" class="btn-check">
            <label for="id_type_{{ membership_type.id }}" class="radio-square btn">
                <h4>{{ membership_type.name }}</h4>
                <ul>
                    {% for specification in membership_type.related_specifications.all %}
                    <li>{{ specification }}</li>
                    {% endfor %}
                </ul>
                <h3>{{ membership_type.price }}€</h3>
            </label>
        </div>
        {% endfor %}
    </div>
    {% if form.membership_choice.errors %}
    <p class="error">{{ form.membership_choice.errors }}</p>
    {% endif %}
    <div class="d-flex justify-content-end my-4">
        <button type="submit" class="secondary-button button-medium">{% translate 'naprej' %}</button>
    </div>
</form>

{% endblock form_block %}
