{% extends "registration/registration_wrapper.html" %}
{% load static %}

{% block title %}Registracija{% endblock %}

{% block body_class %}template-register{% endblock %}

{% block form_title %}
<h1>Izpolni podatke za osebni profil:</h1>
{% endblock form_title %}

{% block form_block %}

{% include "home/includes/edit_profile_form.html" with button_text="nadaljuj na plačilo*" button_notice="*preusmerjeni boste na spletno stran našega ponudnika za plačila bankart" %}

{% endblock form_block %}
