{% extends "home/wrapper_page.html" %}
{% load static %}

{% block title %}Registracija{% endblock %}

{% block body_class %}template-register{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block page_body %}

<div class="container register-container color-scheme-light-gray">

    <div class="row justify-content-center">

        <div class="col-md-10 col-xxl-6">

            <div class="registration-progress">
                <div class="point {% if not registration_step %} active{% elif registration_step > 0 %} done{% endif %}"><span>začetek registracije</span></div>
                <div class="point {% if registration_step == 1 %} active{% elif registration_step > 1 %} done{% endif %}"><span>izbira članstva</span></div>
                <div class="point {% if registration_step == 2 %} active{% elif registration_step > 2 %} done{% endif %}"><span>osnovni podatki</span></div>
                <div class="point {% if registration_step == 3 %} active{% elif registration_step > 3 %} done{% endif %}"><span>osebni profil</span></div>
                <div class="point {% if registration_step == 4 %} active{% elif registration_step > 4 %} done{% endif %}"><span>plačilo</span></div>
            </div>

            {% block form_title %}
            {% endblock form_title %}

            {% block form_block %}
            {% endblock form_block %}

        </div>

    </div>

</div>

{% endblock page_body %}
