{% extends "registration/registration_wrapper.html" %}
{% load i18n static %}

{% block title %}{% translate 'Registracija' %}{% endblock %}

{% block body_class %}template-register{% endblock %}

{% block form_title %}
<h1>{% translate 'Izpolni podatke za osebni profil' %}:</h1>
{% endblock form_title %}

{% block form_block %}

{% if payment_needed %}
{% include "home/includes/edit_profile_form.html" with button_text="nadaljuj na plačilo*" button_notice="*preusmerjeni boste na spletno stran našega ponudnika za plačila bankart" %}
{% else %}
{% include "home/includes/edit_profile_form.html" with button_text="končaj" %}
{% endif %}

{% endblock form_block %}
