{% extends "home/wrapper_page.html" %}
{% load i18n static %}

{% block body_class %}template-profile{% endblock %}

{% block title %}Poišči druge uporabnike{% endblock %}

{% block page_body %}

<form class="container user-profile-container color-scheme-light-gray" action="" method="post">
    {% csrf_token %}

    <div class="row">
        <div class="col-12">
            <h1 class="text-center">{% translate 'Poišči druge uporabnike:' %}</h1>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-12">
            <h2>{% translate 'Izberi kategorije, ki te zanimajo:' %}</h2>
            <div>
                {% for interest in form.interests %}
                <div class="radio-square-wrapper">
                    {{ interest.tag }}
                    <label for="{{ interest.id_for_label }}" class="radio-square btn tag">
                        {{ interest.choice_label }}
                    </label>
                </div>
                {% endfor %}

                {% if form.interests.errors %}
                <p class="error">{{ form.interests.errors }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="d-flex flex-column align-items-start my-4">
        <button type="submit" class="secondary-button button-medium">{% translate 'išči' %}</button>
    </div>

    <div class="row my-4">
        <div class="col-12">
            <h2>{% translate 'Uporabniki s temi zanimanji:' %}</h2>
            <div>
                {% for user in users %}
                <div class="d-flex align-items-center mb-3">
                    <a href="/profil/{{ user.id }}" class="user-btn mb-0 color-scheme-{{ user.random_color }}"></a>
                    <a href="/profil/{{ user.id }}" class="">
                        <span class="ms-4">{{ user.public_username }}</span>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</form>

{% endblock page_body %}

