{% extends "home/wrapper_page.html" %}
{% load i18n static %}

{% block title %}{% translate 'Nakup uporabnine' %}{% endblock %}

{% block body_class %}template-register{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_js %}
{% endblock extra_js %}

{% block page_body %}

<div class="container register-container color-scheme-light-gray">

    <div class="row justify-content-center">

        <div class="col-md-10 col-xxl-6">

            <div class="registration-progress">
                <div class="point active"><span>{% translate 'izbira uporabnine' %}</span></div>
                <div class="point"><span>{% translate 'plačilo' %}</span></div>
            </div>

            <h1>{% translate 'Izberi uporabniški paket' %}:</h1>

            <p>{% translate 'Člani in članice lahko proizvodne laboratorije uporabljajo ob zakupu enega od treh spodaj navedenih uporabniških paketov, ki veljajo določeno časovno obdobje. Nakup paketa omogoča dostop do usposabljan za stroje in delovne postaje oziroma možnost samostojnega dela v posamičnih labih.' %}</p>

        </div>

        <div class="col-md-12 col-xxl-8">
            <form action="" method="post" class="user-purchase-plan">
                {% csrf_token %}
                <div class="row justify-content-center radio-square-wrapper">

                    {% for plan in form.plans.field.queryset %}
                    <div class="col-12 col-md-6 col-xl-4 my-4">
                        <input type="radio" name="plans" value="{{ plan.id }}" class="btn-check" id="id_plans_{{ plan.id }}" required="">
                        <label for="id_plans_{{ plan.id }}" class="radio-square btn">
                            <h3>{{ plan.name }}</h3>
                            <p><small class="mb-0">{% translate 'cena' %}</small></p>
                            {% if user.is_eligible_to_discount %}
                            <p class="price">{{ plan.discounted_price }}€</p>
                            {% else %}
                            <p class="price">{{ plan.price }}€</p>
                            {% endif %}
                            <hr />
                            <p class="small">{{ plan.description }}</p>
                            <hr />
                            <ul>
                                {% if plan.description_item_1 %}<li>{{ plan.description_item_1 }}</li>{% endif %}
                                {% if plan.description_item_2 %}<li>{{ plan.description_item_2 }}</li>{% endif %}
                                {% if plan.description_item_3 %}<li>{{ plan.description_item_3 }}</li>{% endif %}
                                {% if plan.description_item_4 %}<li>{{ plan.description_item_4 }}</li>{% endif %}
                                {% if plan.description_item_5 %}<li>{{ plan.description_item_5 }}</li>{% endif %}
                            </ul>
                        </label>
                    </div>
                    {% endfor %}
                </div>

                <div class="d-flex justify-content-end my-4">
                    <button type="submit" class="secondary-button button-medium">{% translate 'naprej' %}</button>
                </div>
            </form>
        </div>

    </div>

</div>

{% endblock page_body %}
