{% extends "home/wrapper_page.html" %}
{% load i18n static %}

{% block title %}{% translate 'Nakup uporabnine' %}{% endblock %}

{% block body_class %}template-register{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_js %}
{% endblock extra_js %}

{% block page_body %}

<div class="container register-container color-scheme-light-gray">

    <div class="row justify-content-center">

        <div class="col-md-10 col-xxl-6">

            <div class="registration-progress">
                <div class="point active"><span>{% translate 'izbira članarine' %}</span></div>
                <div class="point"><span>{% translate 'plačilo' %}</span></div>
            </div>

            <h1>{% translate 'Izberi članarino' %}:</h1>

            <p>{% translate 'Z letnim članstvom lahko v naslednjem koraku izbereš svoj uporabniški paket ter opravljaš usposabljanja, ki so pogoj za samostojno uporabo naših labov. Če ne želiš biti član ali članica, se lahko prijaviš kot gost.' %}</p>

        </div>

        <div class="col-md-12 col-xxl-8 user-purchase-plan">
            <form action="{% url 'profile-purchase-membership' %}" method="post">
                {% csrf_token %}
                <div class="row justify-content-center radio-square-wrapper">
                    {% for membership_type in membership_types %}
                    <div class="col-12 col-md-6 col-xl-4 my-4">
                        <input type="radio" name="type" value="{{ membership_type.id }}" required="" id="id_type_{{ membership_type.id }}" class="btn-check">
                        <label for="id_type_{{ membership_type.id }}" class="radio-square btn">
                            <h4>{{ membership_type.name }}</h4>
                            <ul>
                                {% for specification in membership_type.related_specifications.all %}
                                <li>{{ specification }}</li>
                                {% endfor %}
                            </ul>
                            <h3>{{ membership_type.price }}€</h3>
                        </label>
                    </div>
                    {% endfor %}
                </div>
                {% if form.membership_choice.errors %}
                <p class="error">{{ form.membership_choice.errors }}</p>
                {% endif %}
                <div class="d-flex justify-content-end my-4">
                    <button type="submit" class="secondary-button button-medium">{% translate 'naprej' %}</button>
                </div>
            </form>
        </div>

    </div>

</div>

{% endblock page_body %}
