{% extends "home/wrapper_page.html" %}
{% load i18n static wagtailimages_tags %}

{% block body_class %}template-profile{% endblock %}

{% block title %}{{ user.public_username }}{% endblock %}

{% block page_body %}

<div class="container color-scheme-light-gray object-profile-container">

    <div class="row">
        <div class="col-12">
            <h1 class="text-center">{{ user.public_username }}</h1>
        </div>
    </div>

    <div class="row mb-4">

        <div class="col-md-6 intro-text">
            <p>{{ user.description }}</p>
        </div>

        <div class="col-md-6">
            <div class="contact-information color-scheme-white">
                <div class="tape"></div>
                <div class="notice">
                    {% if user.contact %}
                    <p class="mb-3"><a href="mailto:{{ user.contact }}">{{ user.contact }}</a></p>
                    {% endif %}
                    {% if user.link_1 or user.link_2 or user.link_3 %}
                    <div class="mb-3">
                        {% if user.link_1 %}
                        <a href="{{ user.link_1 }}" target="_blank" class="secondary-button button-medium">gumb</a>
                        {% endif %}
                        {% if user.link_2 %}
                        <a href="{{ user.link_2 }}" target="_blank" class="secondary-button button-medium">gumb</a>
                        {% endif %}
                        {% if user.link_3 %}
                        <a href="{{ user.link_3 }}" target="_blank" class="secondary-button button-medium">gumb</a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if user.interests %}
                    <div class="mt-3">
                        <p>Zanimanja:</p>
                        {% for interest in user.interests.all %}
                        <div class="radio-square-wrapper d-inline-block">
                            <div class="radio-square tag">
                                {{ interest.name }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="tape"></div>
            </div>
        </div>
    </div>
</div>

<!-- {% if page.image %}
<div class="container">
    <div class="row">
        <div class="col-12">
            {% image page.image original class="img-fluid" %}
            {% if page.image_description %}
            <p class="image-description mt-2">{{ page.image_description }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endif %} -->

{% if user.gallery %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="custom-gallery">
                <div class="custom-gallery-content">
                    <button type="button" class="custom-gallery-navigation prev" tabindex="0"></button>
                    <ul class="custom-gallery-list">
                        {% for element in user.gallery %}
                        <li class="custom-gallery-item">
                            <div class="custom-gallery-image">
                                {% image element.value original %}
                            </div>
                            <div class="custom-gallery-caption">
                                <div class="max-800">
                                {% comment %} {{ element.value.image_description }} {% endcomment %}
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="custom-gallery-navigation next" tabindex="0"></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock page_body %}
